[2017-07-23 15:59] vivekaris commented on #467
Error:(34, 12) Failed to resolve: com.github.apl-devs:appintro:v4.2.1
Show in File
Show in Project Structure dialog

i m using

maven { url 'https://jitpack.io' }
compile 'com.github.apl-devs:appintro:v4.2.1'

[2017-07-23 16:04] vivekaris commented on #467
repositories {
       ----------
        maven { url 'https://jitpack.io' }
    }
}

this is soved

[2017-07-23 17:44] avluis commented on #466
@peterhav I ran the example project against a Pixel XL (on Android 8), a Nexus 6 (Android 7) and a LG G4 (on Android 6).
All of the devices above rendered the layout properly.

Are you able to post the code behind your slides? Maybe your usage reveals an unknown bug in the implementation.

[2017-07-23 17:47] avluis commented on #467
@iotwebplanet Where are you adding the maven declaration for JitPack?
@vivekaris Are you @iotwebplanet or has your particular issue being solved?

[2017-07-23 18:51] avluis commented on #466
@peterhav I have reintroduced the old API for `AppIntroFragment` while making use of the new `SliderPage` model --- if you wish to test this against your code, simply change your JitPack dependency for AppIntro to point to the [SNAPSHOT](https://jitpack.io/#apl-devs/AppIntro/-SNAPSHOT) of the repo.

[code]

[2017-07-23 20:11] peterhav commented on #466
Hi @avluis, just found the cause of the issue: when I remove the call to `setFlowAnimation()` in my `AppIntro `Activity, the intro slides appear correct again (so there seems to be a bug there).

Regarding improving of the interface of the SliderPage class; I would at least add an annotation to the parameters as described here: [https://developer.android.com/studio/write/annotations.html](https://

[2017-07-23 20:26] avluis commented on #466
Good to know that it is not the new class, but rather a bug somewhere else 🤣
I'll be taking a look at the animations to verify that they are working as intended.

As for improving `SliderPage` -- annotations were actually at the top of my list as well.

Quick question:
Did you try out the snapshot build?
I would like to know if your older code (where you are making the call to AppIntroFragment wit

[2017-07-23 20:52] avluis commented on #466
@peterhav As a side note:
Are you aware of an annotation that can force the use of ContextCompat?
If not, then an annotation will probably not be enough to restrict this.
Will probably need to peruse Stack for a bit to see if this has been asked~

[2017-07-23 23:06] avluis commented on #466
@peterhav I just tagged my latest commit with `v4.2.2` -- if you don't mind testing your animations once again under this.

[2017-07-24 08:47] VladOstrovski opened #468 "Policy is ignored when pressing back button"
**AppIntro Version**: 4.2.0
**Device/Android Version**: Nexus 6P / 8.0.0
**Issue details / Repro steps / Use case background**:
When returning false on isPolicyRespected, The user can't scroll back (as expected), but pressing the back button will still scroll one page back.

I'm not sure what's the correct behavior here. It can be finishing the activity or ignoring the back press (which is not tha

[2017-07-24 19:29] peterhav commented on #466
Just verified that this is fixed in 4.2.2. Thanks for the quick action!

[2017-07-24 19:33] peterhav commented on #466
Also verified that the 'old' API is still compiling and running in the -SNAPSHOT release (I do see the deprecated annotations in my old code).

[2017-07-25 12:22] NEONKID opened #469 "Change next button, skip button setEnabled on custom slide"
Hello.

I want to add a button to a custom slide and click on that button, I want to get a Skip button, but it will not work because I want to get the button from the default activity.

Is there another way?

[2017-07-28 18:52] deka91 opened #470 "Change Drawable and text position"
I'm using the AppIntro in the landscape mode and want the text on the left side and the Drawable on the right. So there will be more space for longer texts.

So is it possible to change the drawable and text position?

[2017-07-28 19:59] #467 closed

[2017-07-28 20:37] avluis commented on #470
There are no built-in methods to manipulate slide widgets (other than what Android provides).

You could get a hold of each element and set their position from code, but for this I would recommend making use of custom slides that implement `AppIntro` along with the relative xml layout for fine grained control (let's say you want text to be centered on a smartphone while they offset on tablet devic

[2017-07-29 10:52] paolorotolo opened #471 "Permissions request behavior is broken in latest release"
From: https://github.com/apl-devs/AppIntro/commit/a6ff46b487f7607aafa8ec621526f83aefb55ee8#commitcomment-23369181

Before (`v4.2.0`):
* When navigating to the slide with a permission request, you would first see said slide (explaining what the permission was needed for) then you tap next and the permission request would be triggered.

After (`v4.2.1+`):
* When navigating to the slide with the perm

[2017-07-29 10:56] avluis commented on #466
@peterhav Is it ok to close this issue?

[2017-07-29 10:57] avluis commented on #469
Please go a bit more into detail -- and show your code -- I need to see what you have tried already.

[2017-07-29 11:53] #471 closed

[2017-07-29 14:25] peterhav commented on #466
Yes, this solved the issue!

Op 29 jul. 2017 12:56 schreef "Luis E Alvarado" <notifications@github.com>:

[2017-07-29 17:10] #466 closed

[2017-07-29 17:59] paolorotolo commented on #468
@avluis what to you think? I would simply disable back button, even if it's bad UX.
It doesn't make sense to allow the user to skip the intro finishing the activity...

[2017-07-29 18:24] avluis commented on #468
What I like to do is override `onBackPressed()` and trigger a toast (or snack if you have them implemented) warning the user that navigating back has been disabled for _a portion_ of the intro -- this usually includes import screens and the like.

In addition to the above, if the user presses back twice (in _short succession_, and after a quick notice to press back again to exit) I will do so.

--

[2017-07-29 19:11] VladOstrovski commented on #468
@avluis The problem (from an API design point of view) is that i'll be "taking" `onBackPressed()` from the library. The AppIntro class is not mine (as the user of the library), and i don't really know what the class needs to do in onBackPressed under the hood. If I'll override it and don't call the super's one, I can potentially break the library's state, if I do call the super's one, i get the un

[2017-07-29 20:05] avluis commented on #468
Here is ISlidePolicy:
[code]

Note that there is nothing about controlling back navigation thru your slides.

---
You either want to lock the user from leaving the intro (which goes against UX guidelines) or you don't.

Now, if your particular issue is with the behavior of `isPolicyRespected` (and by relation `ISlidePolicy`) then we would be barking up the wrong tree as `ISlidePolicy` is not respo

[2017-07-30 13:26] RUSSCITY commented on #325
Hm... the last added app was about one Year before (8 Nov 2016)... but let's try ^^

AllTracker
https://play.google.com/store/apps/details?id=city.russ.alltrackerfamily

Btw. nice Lib, thanks for it.

[2017-07-30 14:09] avluis commented on #325
@RUSSCITY Hey there -- I'm actually tracking this list, but I am looking for a better way to present these apps on the repo.

Any suggestions would be lovely 😻

[2017-07-30 19:52] dream09 commented on #325
Heart Trace
https://play.google.com/store/apps/details?id=com.magic09.magicheartraterecorder

Great library, thanks!

[2017-07-31 08:26] VladOstrovski commented on #468
I see that it doesn't say anything about back navigation.. But in practice, if the slide returns false in `isPolicyRespected()` and I swipe back, `nextPageRequestedListener.onCanRequestNextPage()` will return false, and
`    private boolean checkCanRequestNextPage(MotionEvent event) {
        return nextPageRequestedListener != null && !nextPageRequestedListener.onCanRequestNextPage();
    }`
will

[2017-07-31 09:41] avluis commented on #468
@paolorotolo What do you think? Bug or intended behavior?

---
@VladOstrovski Are you making any permission requests?
Just want to make sure it is `ISlidePolicy` responsible for disabling swipe and not because of permission requests.
I don't make much use of `ISlidePolicy` so haven't had the chance to fully test what it can do/supposed to do.
Other than that, yes -- making use of `setGoBackLock()`

[2017-07-31 09:44] avluis commented on #458
I see that you are making use of `ConstraintLayout`.
I'm not certain AppIntro has seem much testing with this so it may be an issue to address in the future, but for now, I would recommend taking a look at how the example app implements custom layouts and follow allow.

[2017-07-31 10:27] VladOstrovski commented on #468
@avluis I'm not asking for permissions. And thanks, I will take care of what i need with `onBackPressed()`.
If something else surfaces up, I will let you guys know.
Do you guys need help with the project btw? Looks like something i'll be happy to help out with.

[2017-07-31 11:00] avluis commented on #468
I could definitely use some help with taking care of the open issues, then the project itself.
From the top of my head, would love to:

- Implement of all the features of the library into the example app.
- Implement CI (I'm good at this) alongside unit testing (not so good at this) in order to verify that library behaviors/features have not been broken (on PRs or rewrites).
- Restructure the libr

[2017-07-31 21:07] AlxDroidDev commented on #325
@avluis A suggestion I have is to move all these apps to a Wiki page.

Possibly they can be categorized, using the same categories of the Play Store. In this case, each developer, when announcing their app here, would also explicit the category in which they publish their app on the Play Store, so you don't have to go through the app to find out what it does. So we'd list our apps on this issue li

[2017-07-31 21:16] avluis commented on #325
@AlxDroidDev Great minds think alike ❤️
That is an idea I'm gonna be working on in a few days (need to migrate the apps here and on the readme) as time permits.

The greater plan is to present these apps on Github Pages eventually~

[2017-07-31 21:32] AlxDroidDev commented on #325
@avluis thanks, buddy! Let me know if you need help.

[2017-08-02 02:27] #469 closed

[2017-08-04 18:41] reyesalex opened #473 "How to change layout for an AppIntro slide?"
I just want to make the last slide have a google sign in button. How can I do that?

[2017-08-06 20:08] EssenKh commented on #295
Please How to use auto scrolling ? I don't get your answer

[2017-08-06 21:38] EssenKh opened #474 "How to auto scroll the appIntro and stop when the user touch it ?"
Please can't find auto scrolling first. Then how can i stop auto scrolling whenthe user touch a slide.
Best Regards

[2017-08-06 23:27] #473 closed

[2017-08-07 04:28] abicelis commented on #325
App Name: Chef Buddy
Link: https://play.google.com/store/apps/details?id=ve.com.abicelis.chefbuddy

Awesome library. Keep up the great work.

[2017-08-07 11:31] deka91 commented on #470
Thank you for your reply!
I tried it within onSlideChanged but I don't understand how do get the id of the TextView. I'm using the built-in slides and therefore I'm not setting any layout with my own TextViews.

[2017-08-09 13:00] abicelis opened #475 "How to change slides programmatically"
I'd like to change a slide programatically, is there a way to do that I am not seeing?

Maybe through AppIntroBase:
`private void changeSlide(boolean isLastSlide);
`

Thanks for the awesome lib!

[2017-08-09 18:53] paolorotolo commented on #475
Sure thing, just call:
[code]

where ```id``` is an Integer with the slide id you want to go on.

Let us know if it solved the issue.

[2017-08-16 08:55] ofirmiron opened #476 "Transparent Status Bar Bug"
Hello,
I just upgraded to version 4.2.2 from version 4.2.0 and possibly found a new bug. In the previous version, I was able to make the statusbar transparent using the following in the v21\styles.xml:
`<item name="android:statusBarColor">@color/statusBarSemiTransparent</item>
<item name="android:windowIsTranslucent">true</item>
<item name="android:windowBackground">@android:color/transparent</ite

[2017-08-16 18:02] paolorotolo commented on #476
Hey!
Just declare a theme in your ```styles.xml``` that has a *TranslucentStatus* parent.
For example:

[code]

Then in your ```AndroidManifest.xml``` set the theme to AppIntro's activity:

[code]

[2017-08-16 18:03] #476 closed

[2017-08-16 18:04] paolorotolo commented on #476
Anyway, I've found our Example app doesn't have translucent status bar. I've updated it, maybe it help out other devs.

[2017-08-18 05:15] fahmad2 opened #477 "Would like adjustable font sizes for title and description"
**AppIntro Version**: 4.2.0

**Device/Android Version**: Pixel API 25

**Issue details / Repro steps / Use case background**: I am trying to customize the description (and title) text so that I can change the font size.

**Your Code**:

        // Code from OnCreate Method where we use your your default slide (AppIntroFragment)

        frag1 = AppIntroFragment.newInstance("Welcome.", "fonts/bello

[2017-08-18 19:35] paolorotolo opened #478 "PagerIndicatorEnabled is updated only at start"
After latest commits, ```showPagerIndicator()``` doesn't work if called during the intro.
The value of ```pagerIndicatorEnabled``` is only read ```onPostCreate()```.

Thanks @avluis for reporting this.

[2017-08-19 00:34] avluis commented on #477
Can you add the details that the issue template asks for (ignore the stack trace).

Those are needed to answer these questions:
We need to know if you are using a custom intro or a library provided intro (using the `SampleSlide` or `AppIntroFragment`).

---
Other than that, just be aware that you should be able to get a hold of an instance of your `TextViews` from code and call the appropriate met

[2017-08-19 00:35] avluis commented on #475
@abicelis Does the above suggestion address your issue?

[2017-08-22 18:40] pranjal-joshi commented on #325
App Name: MeetApp
Link: [https://play.google.com/store/apps/details?id=com.cyberfox.meetapp](url)

[2017-08-23 19:09] #478 closed

[2017-08-24 06:11] fahmad2 commented on #477
I am using AppIntroFragment. I have made changes to my initial comment above. Added some code and pictures

[2017-08-24 06:40] avluis commented on #477
@paolorotolo
Do you think we can add this (setting font sizes to title and description) in the `SliderPage` model?
Since `SliderPage` is new enough, these changes can be used there without breaking too much of what devs already make use of.

This could be part of `4.3.0`.

[2017-08-26 18:34] webserveis opened #481 "Constant fill_parent is deprecated"
I see in your librarry, you use `fill_parent` in `res/layout..` the best way is set `match_parent`

https://stackoverflow.com/questions/5761960/what-is-the-difference-between-match-parent-and-fill-parent

[2017-08-26 19:10] avluis commented on #481
Can we get a PR 😸

[2017-08-27 23:30] agueroveraalvaro commented on #475
Yes it works but add a new fragment in its position, then my question is:
can i delete a fragment added??
(to not duplicate)

[2017-08-29 13:54] hm122 opened #482 "java.lang.NullPointerException: at android.content.res.AssetManager.getResourceValue"
4.2.0

Blu GRAND 5.5 HD, Android 6.0

I am not able to reproduce this error, I got this via Google Play Developer Console. Unfortunately this is all the information I got. Since it seems to be irrelevant how I use it, I did not attach all the code (since the stack trace does not show any involvement of my code). If you still need my full implementation details, please tell me.

**Stack trace / Log

[2017-08-29 14:51] avluis commented on #482
Can you go ahead and add how you are using AppIntro.
That is; how you are creating each slide, assigning images, text, etc.
Are you making use of the built-in fragments or creating your own, etc.

Since this is an older version of the library, I can't make any promises as to an actual fix/resolution.
Unless @paolorotolo can see something I'm not~

[2017-09-05 05:54] hamzashahid91 opened #483 "Full image slide"
First of all thank you for this great work of yours. I really appreciate the effort. I have integrated this in my app but due to some requirements I need full image in slides can I achieve that through current version?

[2017-09-05 06:14] jbhingradiya commented on #467
@vivekaris i am still getting this error adding repositories {
----------
maven { url 'https://jitpack.io' }
}
}

[2017-09-05 20:59] LouisCAD opened #484 "Make your sample app available worldwide"
Please, no more geolock. Your sample app on Google Play should be available in all countries that can access Google Play.

[2017-09-06 10:24] santhoshvai commented on #476
I have the same issue, setting a translucent theme also doesnt make it work. I see the black.

[2017-09-12 08:06] hnilsen commented on #484
Agreed. Must be a glitch.

[2017-09-13 06:39] hnilsen opened #485 "Update to support 26.0.2 or above"
**AppIntro Version**: 4.2.2

**Issue details / Repro steps / Use case background**: Dependency on appcompat-v7:25.3.1 resolves into support-annotations:25.3.1 - which is too old.

**Gradle dependency map**:
[code]

**Stack trace / LogCat**:

[2017-09-13 06:53] avluis commented on #485
Support for v26 is underway on the master branch.
Soon:tm:

[2017-09-13 07:11] hnilsen commented on #485
It can be solved by using `compile 'com.android.support:support-annotations:26.0.2'` thus far

[2017-09-21 09:53] marwendoukh commented on #325
App Name: Classroom chat
Link: https://play.google.com/store/apps/details?id=com.classroomchat.marwen.classroomchat

[2017-09-22 00:13] abicelis commented on #475
@paolorotolo @avluis Yes it works great!
Thank you!

[2017-09-22 13:16] paolorotolo commented on #475
Good, closing this.

[2017-09-22 13:16] #475 closed

[2017-09-27 19:49] CodyEddings opened #486 "Slides Not Inheriting App Theme"
Regardless of my declaration of a theme to use at either the application or activity level in my manifest file, the intro slides seem to ignore it and default to white text. Surely there has to be a way around this since some of the sample screenshots show non-white text and different fonts.

**AppIntro Version**:4.2.2

**Device/Android Version**:Physical Galaxy S6 Edge/7.0 Nougat & Emulated Pixel

[2017-09-28 12:06] JamesHealdUK opened #487 "Integrate a loading spinner?"
Loving this library! Only thing is, when it comes to setting up a user for the first time (and uploading said data to a server), its in dire need of `ProgressBar` functionality.

For example, when I upload my avatar and set my username and press the "Done" button, itd be good to have a spinner take its place to signify that its uploading.

[2017-09-28 21:13] enoler commented on #325
App Name: World Traveller
Link: https://play.google.com/store/apps/details?id=worldtraveller.enoler.es.worldtraveller

[2017-09-30 04:35] CodyEddings commented on #486
After more testing it appears that the activity is being set to the theme in the manifest, however the text color doesn't apply itself to the text color in said theme. How can I make the text on the intro slides change color?

[2017-10-03 18:42] nicolabeghin commented on #419
any update on this?

[2017-10-08 15:35] IvanMazzoli commented on #325
App Name: Tipsy for Gardaland
Link: https://play.google.com/store/apps/details?id=com.MonkeyLab.MyGardaland&hl=it

Thank you Paolo and all you others guys maintaining this library!
Sidenote to Paolo: hope to see you at Codemotion at Milan in November!

[2017-10-09 14:19] willvkc opened #489 "How to change the title font?"
How to change the title font?

[2017-10-09 15:24] winsontan520 opened #490 "askForPermissions method cause sliding not working"
I run your example code found that the permission demo cannot slide. Then I comment the method askForPermissions then it can slide again.
Suspect the askForPermissions cause sliding not working

[2017-10-09 17:00] paolorotolo commented on #490
It's an intended behaviour. From README:
[code]

[2017-10-09 17:00] #490 closed

[2017-10-09 19:11] avluis commented on #489
The same way you change any other font.

_Please add more detail to your issues (following the template to start with will save us asking the same questions over and over) unless you want them closed immediately._

[2017-10-09 22:30] nicolabeghin commented on #325
App Name: WazzapMigrator
Link: https://play.google.com/store/apps/details?id=com.nbeghin.whatsappmigrator

Great library, thanks a lot!

[2017-10-11 15:08] idish commented on #451
Why is this issue so obvious? I saw alot of people opened an issue regarding this, and there must be many more users who haven't bothered to do so, as your readme says.
I think it's a shame that this is the current situation. Is there any hard logical reason behind this behavior?

[2017-10-14 12:39] idish commented on #266
I don't really understand why the said above isn't the default behavior, and users should do some custom overrides of the base class. Can this be fixed in the library itself?

[2017-10-14 20:07] #481 closed

[2017-10-17 19:05] Kvaibhav01 opened #494 "Background not changing from black!"
**AppIntro Version**: 4.2.2

**Device/Android Version**: Works great on every device. I use [Yu Yureka](https://www.gsmarena.com/yu_yureka-6987.php) as physical and Nexus 5X as emulated device for testing.

**Issue details**: The issue is that no matter what `android:background` property I add to my intro slides, **it always shows up in black color** which is nowhere used in my app code (I've chec

[2017-10-17 21:08] avluis commented on #494
Interesting -- have you tried defining it as a style? Something along the following:

**_theme.xml_**
[code]

**_slide_n.xml_**
[code]

[2017-10-18 03:50] gerardold commented on #494
I have the same problem, I already tried with the styles and it does not work

[2017-10-18 05:28] avluis commented on #494
@gerardold I need you to show your code please -- don't want to miss anything.

[2017-10-18 18:42] Kvaibhav01 commented on #494
Hi @avluis! I implemented the theme.xml and slide_n.xml code you provided but still it's the same. There's no effect.

[2017-10-18 18:53] avluis commented on #494
Well, unless I see more of your code, I'm not sure how else to help you as the library is not overriding anything from custom slides 🤷

[2017-10-18 19:23] Kvaibhav01 commented on #494
Here are the links for each code (default) related to this library:

1. styles.xml:- https://gist.github.com/Kvaibhav01/7fef9f61591e449e46b162a852a95c50
2. strings.xml:- https://gist.github.com/Kvaibhav01/b68bfb544e0149861038cae87675a792
3. colors.xml:- https://gist.github.com/Kvaibhav01/bfae346079e425694eb1382182925f43
4. slide_1.xml:- https://gist.github.com/Kvaibhav01/a61ec8d92da1e1bf9a4eb663ff

[2017-10-18 19:42] avluis commented on #494
Thanks --- give me a bit to try and find the issue.

[2017-10-18 20:02] avluis commented on #494
@Kvaibhav01
Looks like the issue may simply be the way your custom fragments were created.

Can you delete `SampleSlide` and create `BaseSlide` with the following code:

[code]

The issue is fairly simple -- the custom slide implementation can't find the layout(s) needed in your custom fragment if they don't implement something similar to the above.
Let me know if this resolves the issue for you.

[2017-10-20 11:33] djuelg opened #496 "Add to "Apps using Lib" section"
Hey there,

today I will release my note app Neuronizer to production on Google play.
As I decided to use your library it would be nice to be listed in the app section.
Here are the links:
https://github.com/djuelg/Neuronizer
https://play.google.com/store/apps/details?id=de.djuelg.neuronizer

Greets,
djuelg

[2017-10-20 13:29] avluis commented on #325
_Moved_: https://github.com/apl-devs/AppIntro/issues/496
@djuelg

Hey there,

today I will release my note app Neuronizer to production on Google play.
As I decided to use your library it would be nice to be listed in the app section.
Here are the links:
https://github.com/djuelg/Neuronizer
https://play.google.com/store/apps/details?id=de.djuelg.neuronizer

Greets,
djuelg

[2017-10-20 13:29] avluis commented on #496
_Moved_: https://github.com/apl-devs/AppIntro/issues/325
@djuelg

[2017-10-20 13:29] #496 closed

[2017-10-20 13:36] avluis commented on #325
@all -- Looking for PRs for the wiki to feature your apps -- if you have the time, please send them my way!

[2017-10-20 13:46] Kvaibhav01 commented on #494
I deleted the SampleSlide.java file, added a new BaseSlide.java and added the code given above.
Next, I changed SampleSlide to BaseSlide in the IntroActivity.java file as:

[code]
But I get errors in these three lines of code! The error is: _incompatible types: BaseSlide cannot be converted to Fragment_. How do I resolve it now?

[2017-10-20 14:20] avluis commented on #494
Make sure you are importing the Support Library version of the Fragment class.
If you delete your current imports for the Fragment library, you should be able to re-import once again.

[2017-10-20 14:26] avluis commented on #494
⛔️
![No Good!](https://user-images.githubusercontent.com/875593/31825646-82e5882a-b578-11e7-8fdc-11693f226be0.png)

✔️
![Good!](https://user-images.githubusercontent.com/875593/31825650-84e6f348-b578-11e7-8b71-10dbc22e77a0.png)

[2017-10-20 14:30] Kvaibhav01 commented on #494
That import has already been added to the file 😞

![Alt text](https://i.imgur.com/0v6FOvN.png)

[2017-10-20 15:08] avluis commented on #494
`BaseSlide` and `IntroActivity`?

[2017-10-20 17:56] Kvaibhav01 commented on #494
Thanks a ton! That solved the issue. 😄 I had `import android.app.Fragment;` instead of `import android.support.v4.app.Fragment;` in BaseSlide.java.

[2017-10-20 22:41] avluis commented on #494
Neat -- closing this for now

[2017-10-20 22:41] #494 closed

[2017-10-21 12:23] PEDRO33 commented on #325
App Name: Programmers
Link: https://play.google.com/store/apps/details?id=com.pedromassango.programmers

Your library is very good, please stay it alive.

[2017-10-21 14:10] Kvaibhav01 opened #497 "AppIntro runs everytime I open the app"
**AppIntro Version**: 4.2.2

**Device/Android Version**: Works great on every device. I use [Yu Yureka](https://www.gsmarena.com/yu_yureka-6987.php) as physical and Nexus 5X as emulated device for testing.

**Issue details**: I've implemented how to run the AppIntro slides only for the first time from the [AppIntro Wiki](https://github.com/apl-devs/AppIntro/wiki/How-to-Use#show-the-intro-once). I

[2017-10-21 17:05] avluis commented on #497
I'm sorry, but this is not an AppIntro issue -- yes, looks like the wiki needs to be expanded further for those that are making use of preferences for the first time, but we can't take the time to guide everyone who uses the library on how to open an activity only when needed.

Stackoverflow has plenty of questions regarding this subject and it is the resource I recommend all developer to query (n

[2017-10-21 17:05] #497 closed

[2017-10-21 17:16] avluis commented on #487
Unfortunately this would be outside the scope of AppIntro.

What I can say though, is that I make use of the [Material Dialogs](https://github.com/afollestad/material-dialogs) library, which includes what you need (`ProgressBar`'s and the like).

From your description, you'll need to create an activity that will receive `onActivityResult` (from `startActivityForResult`) to display the upload progr

[2017-10-21 17:16] #487 closed

[2017-10-21 17:18] avluis commented on #486
@CodyEddings Are you creating your slides via a custom fragment implementation (making use of `SampleSlide`) or with the built-in `AppIntroFragment`?

[2017-10-21 17:19] avluis commented on #489
Closing due to non-interest.

[2017-10-21 17:19] #489 closed

[2017-10-23 15:56] larsmathuseck opened #498 "Programmatically swipe/next"
Is it possible to swipe next programmatically?

[2017-10-23 16:51] larsmathuseck commented on #498
getPager().goToNextSlide()

[2017-10-23 16:51] #498 closed

[2017-10-26 13:37] jrcacd opened #499 "How to insert imageDrawable, but not using the @DrawableRes"
I need to aplly some colors and change the size of the @DrawableRes image before passing it to Slider page.

Is there a setImageDrawable that receives an imageDrawable and not a @DrawableRes?

[2017-11-04 14:17] raphasle commented on #453
I was able to perform programmatically a "next click" by calling
((ViewGroup) getSlides().get(5).getView().getParent().getParent()).findViewById(R.id.next).performClick();
However, this looks awful and is most likely not the right way to do this, but maybe it helps you.

[2017-11-05 19:29] xperiafan13-rom opened #501 "Use in fragment"
I have divider page, i first space i have logins form, in second space i need this appintro

[2017-11-07 04:06] abhinavkh opened #502 "Dynamically changing the next slide"
**AppIntro Version**: 4.2.2

**Issue details / Repro steps / Use case background**: Feature support / request

Is there a way for me to modify the layout of the next slide according to the data entered in the previous slide?

Enter email (Slide 1) ---- (email does not exist in Database) -----> Slide 2 (layout 1)
                                |----- (email exists in Database)--------------> Slide

[2017-11-14 14:05] andreynovikov commented on #484
Same for Russia

[2017-11-14 14:13] andreynovikov opened #504 "Do not show position dot if there is only one slide"
I'm constructing slide queue dynamically based on various conditions. It may be a situation when there is only one slide available to user. In that case a dot (position indicator) is superfluous. I propose to make it not visible in that case.

[2017-11-16 17:33] mundoramos opened #505 "Bug in isPolicyRespected (?)"
**AppIntro Version**: 4.1.0

**Device/Android Version**: Nexus 5X

**Issue details / Repro steps / Use case background**:
I'm using the slides to make a SignUp, so I have a couple of EditText that I don't want the user to skip them, so I use a validation on the isPolicyRespected(), the problem is that everytime I make a click on the view that validation shows up (even not trying to pass to the nex

[2017-11-16 18:59] joelhaasnoot opened #506 "EditText in custom Fragment doesn't respect ISlidePolicy with Keyboard"
**AppIntro Version**: 4.2.2

**Device/Android Version**: Any, reproduced on Nexus 5X

**Issue details / Repro steps / Use case background**:
When using an EditText in a Fragment which implements ISlidePolicy and the keyboard is open, pressing the next/action button on the keyboard skips next without validation. isPolicyRespected doesn't seem to be called.

**Your Code**:
Working on a simple sample

[2017-11-19 21:06] tiwiz opened #507 "Add Support to Views"
Can you please add support to use Views instead of Fragments?

[2017-11-21 21:10] cdecron commented on #325
App Name: Zwyx
Link: https://play.google.com/store/apps/details?id=com.gm.zwyx

Thanks for your library!

[2017-11-22 09:28] pedromassango commented on #325
App Name: Sample App
Link: https://play.google.com/store/apps/details?id=com.pedromassango.programmers

[2017-11-27 07:39] nisd93 commented on #325
App Name: Quick Synonyms
Link: https://play.google.com/store/apps/details?id=com.nisdapps.myfirstapp

[2017-11-28 18:43] pedromassango commented on #325
It is not my app

2017-11-27 8:39 GMT+01:00 Nisarg <notifications@github.com>:

[2017-12-06 21:58] alexbertis commented on #187
Would be OK if somebody answered exactly **HOW TO ACCESS THE IMAGEVIEW DIRECTLY FROM YOUR ACTIVITY EXTENDING** `AppIntro`...

[2017-12-07 01:46] aidinism opened #508 "Permission slides doesn't show up"
i try to ask for permissions on (Galaxy S6 / Android 7.0), but no luck

other slides are visible but no dialog or anything to ask for permission.

ps: ( slides are not enable to touch [as expected]  but back/next button works )

so i just stuck on fist slide without any permission alert.

code :
[code]

[2017-12-07 18:38] Aidin commented on #508
Additional log:

[code]

[2017-12-16 20:36] hamedgol opened #509 "Appintro show for first time"
How to display Appintro for once , when Application first run?

[2017-12-16 21:30] Andrew-Quebe commented on #509
https://github.com/apl-devs/AppIntro/wiki/How-to-Use#show-the-intro-once

[2017-12-16 21:30] #509 closed

[2017-12-18 18:05] albo1337 opened #510 "Extend Fragment instead Activity"
Hey,
first thank you very much for your great library. I want to use your library but I'm working in a project with a single Activity and I don't want to change my architecture. Is there a way to extend support.Fragment instead of Activity?

Would be great if this will work.

Best regards,
Albo

[2017-12-24 21:53] willblaschko commented on #467
This should solve your problem:
https://stackoverflow.com/a/41529064/2353588

[2017-12-26 17:58] localhostEU commented on #476
@paolorotolo What if there's a custom fragment with ImageView at the top? They way to place ImageView behind status bar is to declare a windowTranslucentStatus true. And that worked for previous versions.

[2017-12-27 10:17] Midhilaj commented on #444
android:theme="@style/AppTheme.NoActionBar"

[2018-01-01 11:44] buelersandra opened #513 "Adding tag or id to fragment"
I added a custom fragment among other slides. when
`@Override
    public void onSlideChanged(
@Nullable Fragment oldFragment, @Nullable Fragment newFragment) {
        super.onSlideChanged(oldFragment, newFragment);
if(newFragment is....)
{
 // Do something when the slide changes.
}
        } `
is called i want to check if the custom fragment is the one.

[2018-01-03 09:44] SunshineNumber1 commented on #504
have you resovel this question? i have the same situation for fix;

[2018-01-03 11:30] SunshineNumber1 commented on #504
try this:
setIndicatorColor(Color.parseColor("#00000000"),Color.parseColor("#00000000"));

[2018-01-07 13:49] eightrawage opened #514 "How to insert youtube api fragment player inside slides Appintro"
Hello! Thank you for a nice Lib! Have one question: How right include youtubefragment inside slides? I need to include it to slide_2. But I have problem with the playing video, its stop after every second. I think problem in overlay transformerAnimation on youtubeplayer.  How to fix it?

[2018-01-08 09:18] Akashbhaskaran opened #515 "Cannot set skip button color"
Cannot find the function to set the skip button color .

[2018-01-08 11:40] Debdeep009 commented on #419
Yes, I faced the same with android 4.3. Just happens when fragment is inflated.

[2018-01-09 12:03] #515 closed

[2018-01-10 07:45] SeboRax opened #516 "Performance issue when having many slides - Patch suggestion"
**AppIntro Version**: 4.2.2

**Device/Android Version**: SM-J730F - Android 7.0, and all other smartphones tested

**Issue details / Repro steps**: When switching pages it is very slow even on high performances devices (I've got 6 slides containing images)

**AppIntro library code**: AppIntroBase.java::113 -> you're using a PagerAdapter

**Suggested modification**: Use a FragmentStatePagerAdapter

[2018-01-11 12:06] yeshuinfrrd commented on #474
The resourceId of the next arrow is _next_. It is a ImageButton. Find it by id in your tutorial activity and use it for auto scrolling.

[2018-01-17 17:40] paolorotolo commented on #516
Thanks for the suggestion! We'll definitely look into this.

[2018-01-29 03:25] duetdroid2018 opened #517 "java.lang.NoSuchMethodError"
**AppIntro Version**:
AppIntro 4.2.2

**Device/Android Version**:
Android emulator/ android-16

**Issue details / Repro steps / Use case background**:
I am running the latest appIntro in Android-16 emulator. I meet a crash "NoSuchMethodError".

**Your Code**:
I am using your demo app.

**Stack trace / LogCat**:
[code]

[2018-02-12 10:14] markus-woerz commented on #325
App Name: QRbot: QR code reader and barcode reader
Link: https://play.google.com/store/apps/details?id=net.qrbot

[2018-02-12 10:15] markus-woerz commented on #325
App Name: QR & Barcode Scanner
Link: https://play.google.com/store/apps/details?id=com.teacapps.barcodescanner

[2018-02-21 12:40] efimerdlerkravitz opened #520 "Improve RTL checks"
The current implementation that checks whether it's an RTL device has one specific flaw, it does not check if the developer defined specifically in `AndroidManifest` `android:supportsRtl="false"`, a usecase might be that an app does not want to support RTL because it does not look good when this flag is toggled on.

I made 2 main changes in https://github.com/apl-devs/AppIntro/pull/519:

Removed f

[2018-02-24 18:23] #520 closed

[2018-02-28 18:38] thijslimmen opened #522 "Dots animation"
Would be awesome if the DefaultIndicatorController would animate the indicator dots like in the Headspace App.

https://play.google.com/store/apps/details?id=com.getsomeheadspace.android

[2018-03-02 15:50] araratm commented on #5
I tried to override strings on android but it doesn't work for Armenian.

    <string name="skip_button">Անցնել</string>
    <string name="done_button">Ավարտել</string>

Please add if you can.

[2018-03-18 10:11] sunnykinger opened #525 "Permissions with RTL"
Using the latest version
4.2.3

The permissions get messed up if the layout is RTL.

[2018-03-21 04:13] lingyfh commented on #408
try setOffscreenPageLimit.

[2018-03-22 15:16] natget21 opened #526 "how to enable validation on slides"
**AppIntro Version**: 4.1.0

**Device/Android Version**: not device specific

Hello,
i am using appintro 4.1.0 and lets say i have 3 sliders and is there a way to block the 2nd slider to be displayed unless the user checks "i agree.." checkbox in the first slide

example

[code]

where can i call my function validateNext() so the page wouldnt go to slide 2 without a valid input from slide 1 or is

[2018-03-25 01:25] OsamaDroidEgypt opened #527 "Endless scrolling"
how to create endless scrolling in the view pager

[2018-03-29 06:50] SaathwikS opened #528 "I'm using a constraint layout to design my Intro"
**AppIntro Version**:

**Device/Android Version**:

**Issue details / Repro steps / Use case background**:

**Your Code**:

**Stack trace / LogCat**:
[code]

[2018-03-29 06:50] SaathwikS opened #529 "I'm using a constraint layout to design my Intro layout as follows"
**AppIntro Version**:

**Device/Android Version**:

**Issue details / Repro steps / Use case background**:

**Your Code**:

**Stack trace / LogCat**:
[code]

[2018-03-29 06:53] ghost opened #530 "status bar shows default color"
I'm using a constraint layout to design my layout as follows

    <?xml version="1.0" encoding="utf-8"?>
    <android.support.constraint.ConstraintLayout
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    android:id="@+id/constraint_layout"
    android:layout_width="match_parent"
    android:layout_height="match_parent">

[2018-03-29 16:57] #528 closed

[2018-03-29 16:57] #529 closed

[2018-04-04 06:19] uzuki-P opened #531 "Skip to last slide"
**AppIntro Version**:4.2.3

**Device/Android Version**:Redmi 4 Prime (markw)

How to skip to last slide or any other slide?

[2018-04-04 19:38] seba123neo opened #532 "Add setDrawable(drawable) property"
I need to add a drawable variable, not a resource int

[2018-04-05 13:20] DanielKng opened #533 "[Help needed] Show Intro only once - Intro does not directly pop-up!"
FIXED.

[2018-04-13 18:54] crazzyghost commented on #483
You can achieve it by passing your own fragment to the `addSlide(@NonNull Fragment fragment)` method.
Here is an example using drawable resource images
[code]
 The xml
[code]
IntroActivity
[code]

[code]

[2018-04-18 08:12] Arunkrishna008 opened #534 "Change content(Skip and done)"
how can i change the language of skip and done  programmatically

[2018-04-19 05:48] saideepbollam commented on #325
App Name: Play-Code
Link: https://play.google.com/store/apps/details?id=www.play_code.xyz.myapplication

Thank you for the library!

[2018-04-20 12:53] oskarh commented on #5
@araratm The keys for the strings have changed, try overriding the new key values:

[code]

[2018-04-22 05:52] camhart commented on #441
thanks for this!

[2018-04-22 21:37] felipeparente opened #535 "Error in android 4.4"
4.1.0

Samsung Galaxy Grand Prime (fortunave3g), 1024MB RAM, Android 4.4

**Issue details / Repro steps / Use case background**:

**Your Code**:

java.lang.ArrayIndexOutOfBoundsException:
   at java.util.Vector.arrayIndexOutOfBoundsException (Vector.java:907)
   at java.util.Vector.elementAt (Vector.java:328)
   at java.util.Vector.get (Vector.java:442)
   at com.github.paolorotolo.appintro.PagerA

[2018-04-24 19:35] WuerfelDev opened #536 "Special permission: Overlay"
**AppIntro Version**: 4.2.3

**Device/Android Version**: All,probably. I'm on Nougat

**Issue details / Repro steps / Use case background**: There is a special way to allow overlays. Even that there is `SYSTEM_ALERT_WINDOW` this does not produce a dialog. To let the user set this permission I'd love to see a fix for this. Here's how to let the user enable it: https://stackoverflow.com/a/34061521/4

[2018-04-24 20:44] morzhantsev opened #537 "Hide left button"
how to hide left bottom "exit" button?

[2018-05-03 12:29] nerdyator commented on #533
How did you solved this issue?

[2018-05-04 02:35] Mendes11 commented on #325
App Name: Price My Print
Link: https://play.google.com/store/apps/details?id=br.com.cozinheirodelivery.pricemyprint

[2018-05-21 21:39] abicelis commented on #325
I got one!

App Name: Chef Buddy
Link: https://play.google.com/store/apps/details?id=ve.com.abicelis.chefbuddy

Awesome work!

[2018-05-24 10:10] stevebaros commented on #325
App Name : Emoji Dictionary
Link : https://play.google.com/store/apps/details?id=com.hamsoftug.emojiDictionary

[2018-05-25 12:14] hamsoft-uganda commented on #530
Any solution to this?? How did you solve it??

[2018-05-25 12:21] hamsoft-uganda commented on #508
Hello did you get any solution for permission dialog not showing up??

[2018-05-27 16:30] anta40 opened #538 "Is it possible to change the "next arrow"?"
I'm extending the AppIntro class, and have this:
![apiq2](https://user-images.githubusercontent.com/16976/40588295-8c336dfe-6205-11e8-819e-46cec3db99e3.jpg)

Is it possible to change the "next arrow" (**>**) into something else, say "**>>>**", or "**-->**", or the text **next**?

[2018-05-27 16:47] anta40 opened #539 "setColorDoneText() is missing?"
AppIntro version: 4.2.3

I found these methods:
[code]

Yes, the work correctly. But I cannot found.. hmm... `setColorSkipText()`.
For the sake of completeness, I think it would be nice to have that method available as well :)

[2018-06-01 07:56] yarkey09 commented on #408
class CustomViewPager extend ViewPager {

    @Override
    protected int getChildDrawingOrder(int childCount, int i) {
        if (Build.VERSION.SDK_INT >= Build.VERSION_CODES.N) {
            try {
                Field DrawingOrderedChildrenField = ViewPager.class.getDeclaredField("mDrawingOrderedChildren");
                DrawingOrderedChildrenField.setAccessible(true);
                ArrayL

[2018-06-03 13:02] Prakashk141 opened #540 "If back button is pressed in the first slide it returns to the MainActivity"
**AppIntro Version**: 4.2.3

**Device/Android Version**: 7.1.2

If the user presses the back button when the first slide comes it takes directly to the MainActivity instead of exiting the app.

[2018-06-07 14:53] Shouheng88 commented on #530
I used to use AppIntro in my project, you may refer to my project: [MarkNote](https://github.com/Shouheng88/MarkNote).
I add one activity which extends AppIntro2 and added some customed fragments.
You use the dependence below:
`'com.github.paolorotolo:appintro:1.3.0'`
which seems to be the older version of thie project.

[2018-06-12 17:35] SaathwikS commented on #530
Thank u

[2018-06-17 23:07] V1rex commented on #325
App Name : eHope
Link : https://github.com/V1rex/eHope
Thanks for the library :+1: :+1:

[2018-06-22 12:32] voghDev commented on #347
Don't know if it's too late but, having a look at the askForPermissions method:

    public void askForPermissions(String[] permissions, int slidesNumber) {
        if (Build.VERSION.SDK_INT >= Build.VERSION_CODES.M) {
            if (slidesNumber == 0) {
                Toast.makeText(getBaseContext(), "Invalid Slide Number", Toast.LENGTH_SHORT).show();
            } else {
                Permis

[2018-06-22 16:43] TomCyril1 commented on #402
Open the picture with paint, reduce it by  40%,
Crop it  , and save it ,
then  reput it on your workspace  ,  its working for me, no more lag  or crashes

[2018-06-22 19:28] paolorotolo commented on #347
Hey @voghDev! It's not too late. I didn't had much time to update AppIntro recently.

Let's see if we can fix this at library level. I don't think the user should be the one responsible to make that setSwipeLock call.

P.S. Also kudos for using Kotlin! ;)

[2018-06-25 13:33] alexbertis opened #542 "AndroidX support"
When will we get support for AndroidX? (I mean, the only need is to refactor this)

AppIntro v4.2.3

[2018-06-26 14:26] addiegupta opened #543 "Play Store link for Example App leads to a Not Found error"

[2018-06-28 01:38] SharmadDesai commented on #508
Any Updates?

[2018-06-28 05:53] d-rahul commented on #213
It's due to you have enabled the instant run setting for your app build, just disable it and check. More: https://readyandroid.wordpress.com/application-taking-so-much-time-to-launching-android/

[2018-06-30 09:05] gcantoni commented on #543
Download from here https://github.com/apl-devs/AppIntro/releases

[2018-06-30 09:06] gcantoni commented on #538
extends your appintro activity with AppIntro2

[2018-06-30 09:12] gcantoni commented on #537
showSkipButton(false);

[2018-07-05 11:29] cortinico commented on #542
PR is here #544

[2018-07-05 14:40] paolorotolo commented on #542
After @cortinico's pull I guess it will happen very soon :)

[2018-07-05 20:36] cortinico opened #545 "Readme Sample is partially deprecated"
I was trying the library and I noticed that the first example in the `README.md` file contains deprecated code.

I'm talking about this section:

[code]

The `AppIntroFragment.newInstance` method is deprecated [here](https://github.com/apl-devs/AppIntro/blob/master/library/src/main/java/com/github/paolorotolo/appintro/AppIntroFragment.java#L14)
Maybe that should be replaced with the `newInstance(S

[2018-07-06 09:50] alexbertis commented on #542
Meanwhile, a possible workaround I have found is to set the `android.enableJetifier=true` flag in the `gradle.properties` file, and in the module's `build.gradle` implement the library as follows:
`implementation ('com.github.apl-devs:appintro:v4.2.3') {
        exclude group: "com.android.support"
    }`

I am aware of the possible incompatibility issues that AndroidX could generate in apps which

[2018-07-08 10:30] isabsent opened #547 "Bug in isRtl method."
You have to use this definition for **RTL**:

    public static boolean isRtl() {//https://stackoverflow.com/a/37101995/753575
        Locale locale = Locale.getDefault();
        final int directionality = Character.getDirectionality(locale.getDisplayName().charAt(0));
        return directionality == Character.DIRECTIONALITY_RIGHT_TO_LEFT ||
                directionality == Character.DIRECTIONA

[2018-07-08 18:14] AmiroEmad commented on #545
I have same issue what should I do to be able to use the library ??

[2018-07-08 18:22] AmiroEmad commented on #545
Thank you . Your issue helped me . I went and checked the code and found the solution to my problem . Thank you so much . @cortinico

[2018-07-08 19:44] YoiYang commented on #419
Experiencing similar issue.
Fatal Exception: java.lang.OutOfMemoryError
Failed to allocate a 53887692 byte allocation with 15443312 free bytes and 14MB until OOM
com.github.paolorotolo.appintro.AppIntroBaseFragment.onCreateView
keyboard_arrow_down

[2018-07-12 07:00] cortinico commented on #545
You're welcome :)

[2018-07-15 05:53] shareefhiasat commented on #467
In short Use latest android studio with latest gradle

[2018-07-18 15:34] minas1 commented on #325
App name: Movie Pal
Link: https://play.google.com/store/apps/details?id=greenbits.moviepal

[2018-07-20 01:01] YoiYang opened #551 "OutOfMemoryError"
Version of AppIntro:
`implementation 'com.github.apl-devs:appintro:v4.2.3'`

Phone info: Samsung
- Model: SM-S327VL
- Orientation: Portrait
- RAM free: 209.15 MB
- Disk free: 4.17 GB

Operating system:
- Version: 6.0.1
- Orientation: Portrait
- Rooted: No

This line was emphasized indicating the cause of error:
```com.github.paolorotolo.appintro.AppIntroBaseFragment.onCreateView (AppIntroBaseFragm

[2018-07-20 08:31] cortinico commented on #551
Do you have a sample project or some code to share to reproduce this?

[2018-07-21 08:00] xiaochao opened #552 "unable merge dex"
dependencies {
    implementation fileTree(dir: 'libs', include: ['*.jar'])
    implementation 'com.android.support:appcompat-v7:26.1.0'
    implementation 'com.android.support.constraint:constraint-layout:1.1.2'
    testImplementation 'junit:junit:4.12'
    androidTestImplementation 'com.android.support.test:runner:1.0.2'
    androidTestImplementation 'com.android.support.test.espresso:espresso-c

[2018-07-21 17:18] cortinico commented on #552
hey @xiaochao

Can you try to enable multidex in your app?
[code]

Also please:
* Try to disable/enable instant run
* Try to clean the project and rebuild

[2018-07-29 21:34] prasannajeet commented on #542
I am not able to get your solution to work for me @alexbertis . I am getting errors on android support annotations, v4.Fragment and AppCompatActivity. I tried to resolve it by adding implementation 'com.android.support:appcompat-v7:27.1.1' but I ended up with "Program type already present: android.support.v4.os.ResultReceiver$1" again. I guess I will be waiting for your PR to be merged before I ca

[2018-07-30 07:59] hoseinsttr opened #553 "Manifest merger failed : Attribute application@supportsRtl"
Hi
I use AppIntro v4.2.3 and I set  android:supportsRtl="false" in manifest.
when I want to sync gradle this error apears:

_Manifest merger failed : Attribute application@supportsRtl value=(false) from AndroidManifest.xml:26:9-36
	is also present at [com.github.apl-devs:appintro:v4.2.3] AndroidManifest.xml:11:18-44 value=(true).
	Suggestion: add 'tools:replace="android:supportsRtl"' to <applicati

[2018-07-30 08:09] cortinico commented on #553
Hey @hoseinsttr

I had the same issue a couple of days ago.
After you set both `tools:replace` and `android:supportsRtl` on your app manifest, run a clean build and everything should work fine.

[2018-07-30 08:36] hoseinsttr commented on #553
Thanks
I found another solution for issue.
just add          tools:node="replace"    to application tag

[code]

[2018-07-30 10:30] alexbertis commented on #542
I haven't made a pull request, I expect others to find a better solution to this problem. If you use AndroidX, don't include the older versions of Android Support Library, this will cause incompatibilities. I only get errors from Lint, but at runtime (which is the key part) everything works fine.

[2018-07-30 20:40] prasannajeet commented on #542
Agreed. Waiting for @paolorotolo to approve the PR by @cortinico!

[2018-07-31 13:00] paolorotolo commented on #542
Here you go!
Thanks again for the contribution @cortinico,

[2018-07-31 13:00] #542 closed

[2018-07-31 15:48] cortinico commented on #542
You're more than welcome @paolorotolo 👍

[2018-08-04 05:06] royalhacker commented on #551
was this issue resolved?

[2018-08-04 05:15] YoiYang commented on #551
No, the issue wasn't solved. I'm sorry for mis-pressing the Close button.
In addition, with the exact same code I provided above, it has led many same crashes happened on Asus (Zenfone), Samsung(Galaxy S5, Galaxy J3), Huawei (P9 lite), LGE (Nexus), and two other brands.
Let me know if there's more info I can find to help you resolve it!

[2018-08-06 13:25] cortinico commented on #551
Hey @YoiYang

Looks like the problem is with the assets you're using.
The app is trying to allocate 23Mb, so can I ask you to check the size of:

[code]

Furthermore, if you could provide a branch/fork would be better for debugging/profiling.

[2018-08-08 19:11] pratikbutani opened #555 "changed dependency URL? Not Working"
I have used before:

implementation 'com.github.paolorotolo:appintro:4.2.3'

Currently Getting Errors so I saw and Its displaying following URL.
implementation 'com.github.apl-devs:appintro:v4.2.3'

Is it really?

[2018-08-08 19:15] pratikbutani opened #556 "Failed to resolve: com.github.apl-devs:appintro:v4.2.3"
I think you have changed Repo URL, But I cant able to found new version.

Please reply as soon as possible.

[2018-08-08 19:18] pratikbutani commented on #556
I forgot to add following lines in project level `build.gradle`

`maven { url 'https://jitpack.io' }`

Thanks

[2018-08-08 19:18] #556 closed

[2018-08-09 21:52] cortinico commented on #555
Looks like a duplcate of #556
@paolorotolo can you close?

[2018-08-10 09:51] carstenhag opened #557 "Demo App linked in README does not exist"
Hey, in the README there's a link to this demo, but it doesn't exist.

https://play.google.com/store/apps/details?id=com.amqtech.opensource.appintroexample gives an error.

[2018-08-10 21:19] paolorotolo commented on #555
Hey @pratikbutani,
can you please verify if you have added the right repo in your top level build.gradle?
[code]

[2018-08-10 21:19] #555 closed

[2018-08-13 17:24] pratikbutani opened #558 "Getting Error after Update with New Version"
**AppIntro Version**: 4.2.3

**Device/Android Version**: Android Oreo

**Issue details / Repro steps / Use case background**:

**Your Code**:

[code]

**Stack trace / LogCat**:
[code]

![untitled](https://user-images.githubusercontent.com/3306366/44047307-9a39a0f2-9f4b-11e8-8344-91c86e74e09e.png)

[2018-08-13 20:01] cortinico commented on #558
Hey @pratikbutani
This looks unrelated to this library.

Can you please Invalidate the cache, restart Android studio and do a clean build?
If that still happens can you please delete `C:/Users/Pratik/.gradle` and try again?

[2018-08-14 14:09] marcus-michelin opened #559 "401 Unauthorized Question"
Hello!

Hope everything is well, attempting to learn from this project. On my gradle sync I'm facing a 401 not authorized error from the GET request, Is this artifact restricted?

[2018-08-14 14:16] cortinico commented on #559
Hey @marcus-michelin

So the library is available to everyone via Jitpack.
If you get a 401 might be that your provider/VPN is blocking access to Jitpack.

Just to cross check, can you download this file:
https://jitpack.io/com/github/apl-devs/AppIntro/v4.2.3/AppIntro-v4.2.3.aar

If yes, then you can easily access the artifact. Do a clean build and it should work
If not, can you please post some l

[2018-08-14 14:19] pratikbutani commented on #558
okay, Thank you.

[2018-08-14 14:19] #558 closed

[2018-08-14 15:11] marcus-michelin commented on #559
Thanks @cortinico you are correct! Clean did the job

[2018-08-14 15:18] cortinico commented on #559
Awesome!

On Tue, Aug 14, 2018 at 5:11 PM marcus-michelin <notifications@github.com>
wrote:

--
Nicola Corti - Android @ Yelp
corti.nico@gmail.com
http://ncorti.com
"Look wide, and even when you think you are looking wide – look wider
still!"

[2018-08-14 21:56] #559 closed

[2018-08-15 12:24] cortinico opened #560 "Kotlin in the Repo?"
_This is more a question rather than an issue._

Are we fine with adding Kotlin to the repo?
I'd love to convert some classes to Kotlin.

Also, I think we will benefit from Kotlin DSL if we use them in the SliderPage builder.
Happy to discuss/brainstorm :)

I'm asking before doing a PR that might eventually be rejected.

[2018-08-15 13:36] cortinico commented on #560
from developers about Appintro.

Definitely! :)
Don't you mind creating the room?

[2018-08-17 13:29] paolorotolo commented on #560
Here you go!
https://gitter.im/AppIntro/Lobby

I've also updated README.

[2018-08-17 13:29] #560 closed

[2018-08-19 15:21] paolorotolo opened #563 "Rewrite Sample app"
It would be nice to rewrite the [sample app](https://play.google.com/store/apps/details?id=com.amqtech.opensource.appintroexample) with updated examples and maybe in kotlin.

I'm opening this issue to track the progress.

[2018-08-22 07:56] jrcacd opened #565 "Next and Done buttons need accessibility descriptions"
Google Play Console complains about this

[2018-08-22 20:55] cortinico commented on #565
@jrcacd The warning should go away after my PR gets merged.

[2018-08-27 12:31] voghDev commented on #508
Same here. No permissions appear. Probably we are missing something

[2018-08-27 14:53] mrb0098 opened #567 "Animations is too fast"
**AppIntro Version**:
4.2.3

**Device/Android Version**:
Galaxy Note 3 & Android Emulator API 27

**Issue details / Repro steps / Use case background**:
when i use this lib animations or use [this link](https://github.com/daimajia/AndroidViewAnimations) animations duration too fast

**Your Code**:
 protected void onCreate(@Nullable Bundle savedInstanceState) {
        super.onCreate(savedInstanceS

[2018-08-27 16:10] cortinico commented on #567
@mrb0098 Can you be a bit more specific? Which animations are too fast?

[2018-08-27 18:22] hackaprende opened #570 "Adding slides outside onCreate(), after fetching data from DB, onSlideChange does not work anymore"
**AppIntro Version**:
'com.github.apl-devs:appintro:v4.2.3'

**Device/Android Version**:
It doesn´t work on any version, tried 5.1, 6.0 and 8.0

**Issue details / Repro steps / Use case background**:
How can I add slides after onCreate()? The thing is I have to get some data from DB before adding the slides but if I add the slides after fetching the data then the onSlideChange method is not called

[2018-08-27 20:23] mrb0098 opened #571 "i find two bugs (may be)"
**AppIntro Version**:
4.2.3

**Device/Android Version**:
Galaxy Note 3 & Android Emulator API 27

**Issue details / Repro steps / Use case background**:
1.
when AppIntro activity started i rotate my phone (use landscape mode) and AppIntro activity is finished and Main Activity Started !!!
2.
in phones that have persian language (rtl mode) AppIntro screen is not work correct

[2018-08-27 20:30] mrb0098 commented on #567
@cortinico
`setSlideOverAnimation();`
and
shake animation ([i used from this lib](https://github.com/daimajia/AndroidViewAnimations))
it is a surprise that i used some animations in another activity and they run so fast!!!
(Note : i checked animation scale setting in developer options in my phone and other apps run correct)

[2018-08-29 21:16] cortinico commented on #570
Hey @Almaral-Engineering
So I did some quick test and looks like:

* You can actually add new slides at runtime.
* If you do so your bottom bar will get out of sync. So you probably add to handle this scenario by yourself.

So you will end up in something like this:

![Imgur](https://i.imgur.com/sngunUr.gif)

[2018-08-29 21:18] cortinico commented on #571
Hey @mrb0098
Maybe is better if you open to separate issues?

BTW:

Issue 1: I wasn't able to reproduce.
Issue 2: Can you provide a screenshot?

[2018-08-31 17:37] Almaral-Engineering commented on #570
I can add the slides but the onSlideChanged does not work

[2018-08-31 18:09] Almaral-Engineering commented on #570
If I do not add a slide at onCreate the app crashes, so what I did is adding a placeholder slide in onCreate and add the others after I get the data from db, but then I cannot get rid of the first slide and there is only one dot at the bottom

[2018-09-02 18:51] paolorotolo commented on #565
Fixed with #566

[2018-09-02 18:51] #565 closed

[2018-09-04 12:33] eGorets opened #573 "Add suffix or prefix to resource names"
`fragment_intro` is pretty common name for projects and now I have a conflicts. I think it's a good practice to separate resources by its namespace.

[2018-09-04 18:39] paolorotolo commented on #573
Good point, thanks for reporting this.

[2018-09-06 06:56] #573 closed

[2018-09-06 06:56] paolorotolo commented on #573
Closed with #574.
Thanks.

[2018-09-12 23:15] AlexJuca commented on #325
App Name: Kamba
Link: https://play.google.com/store/apps/details?id=com.usekamba.kamba.kamba

[2018-09-13 08:47] mianaliasjad opened #575 "make status bar transparent"
status bar by default showing black color I did everything

<style name="AppTheme.NoActionBar">
        <item name="windowActionBar">false</item>
        <item name="windowNoTitle">true</item>
        <item name="android:windowDrawsSystemBarBackgrounds">true</item>
        <item name="android:statusBarColor">@android:color/transparent</item>

    </style>

and programmatically
 if (android.os.Buil

[2018-09-14 22:01] kilicpl commented on #575
Hi mianaliasjad .You can easily hide status bar in your activity by putting
         getWindow().setFlags(WindowManager.LayoutParams.FLAG_FULLSCREEN,
         WindowManager.LayoutParams.FLAG_FULLSCREEN);

in your onCreate() of your activity, right after  super.onCreate(savedInstanceState).
But it totally hides statusbar, maybe that can be useful for you. cheers

[2018-09-16 08:01] mianaliasjad commented on #575
@kilicpl  i don't want to hide the status bar i want to make its color transparent to hide status bar there is a method in this lib but i want to make it transparent

[2018-09-16 09:16] mianaliasjad opened #576 "bottom navigation view overlapping with fragment view"
if i have some ui components in fragment at the bottom its overlapping with bottom navigation how to prevent that or i have to put static margin from the bottom?

[2018-09-25 02:26] huanyuan opened #577 "something happen error.."
Unable to start activity ComponentInfo{com.khy.hymovie/com.khy.hymovie.welcome.MyIntroActivity}: java.lang.NullPointerException: Attempt to invoke virtual method 'void com.github.paolorotolo.appintro.AppIntroViewPager.setAdapter(android.support.v4.view.PagerAdapter)' on a null object reference

Caused by: java.lang.NullPointerException: Attempt to invoke virtual method 'void com.github.paolorotolo

[2018-09-25 02:32] huanyuan commented on #577
every time must to clear project and then solve this problem

[2018-09-25 09:05] mstburak opened #578 "Screen does not fit"
I used this library in my application. But there is an important bug. In some devices, next buttons and progress do not seems. Here is the example:
![ss](https://user-images.githubusercontent.com/25405224/46004283-27908480-c0bb-11e8-9043-54f0c526bef5.png)

[2018-09-28 08:56] qianshengta opened #579 "[need help]Can I customize the button"
**AppIntro Version**:
AppIntro Version：4.2.3

**Device/Android Version**:
null

**Issue details / Repro steps / Use case background**:
My designers have strict requirements for interfaces，So can I customize the buttons on the interface？such as next and done botton, etc。In addition, my designer does not like the shadow effect when the button is clicked and the shadow effect when sliding to the edge

[2018-09-29 06:23] qianshengta opened #580 "I wonder if the method setAnimationColors(ArrayList<Integer> colors) is useful."
**AppIntro Version**:
AppIntro Version：4.2.3

**Device/Android Version**:
null

**Issue details / Repro steps / Use case background**:
I looked at the source code，ArrayList set through "setAnimationColors(ArrayList<Integer> colors)" are not used by any objects.I wonder if the method setAnimationColors(ArrayList<Integer> colors) is useful.

**Your Code**:
null

**Stack trace / LogCat**:
null

[2018-10-02 00:09] cortinico commented on #580
Yeah you're right. That method can be removed.
Here the PR @paolorotolo #582

[2018-10-02 12:17] yaminy commented on #575
hi . you can use this code on your onCreate
getWindow().setFlags(
                WindowManager.LayoutParams.FLAG_LAYOUT_NO_LIMITS,
                WindowManager.LayoutParams.FLAG_LAYOUT_NO_LIMITS
        );

[2018-10-04 09:20] noam1023 commented on #540
Pressing the Back cause the activity to finish and return to the previous activity in the task. You probably started the AppIntro activity from MainActivity, so this is normal behavior

[2018-10-04 14:17] paolorotolo commented on #580
#582 is merged now.
Thanks for the contribution.

[2018-10-04 14:17] #580 closed

[2018-10-05 06:53] znakeeye opened #584 "Release schedule?"
It's been a while since the last release, and getting native support for androidx seems like top-priority. Is there a plan for the next release?

[2018-10-06 17:19] znakeeye commented on #584
Cool! Thanks for the quick answer.

[2018-10-06 17:19] #584 closed

[2018-10-07 15:54] chocolatesoup commented on #5
I would suggest you just add an example to the instructions on how to add your custom translations, i.e.:

To translate the buttons, add the following strings and their translations:
[code]
Then you can safely close this issue.

[2018-10-07 15:55] paolorotolo commented on #584
AppIntro 5.0.0 has been released now :)

[2018-10-08 23:08] cortinico commented on #540
Closing as this is not an issue but the intended behavior @Prakashk141

[2018-10-08 23:08] #540 closed

[2018-10-09 09:26] NLLAPPS opened #587 "Multi language app android:supportsRtl="true""
I have a multi language app with has    android:supportsRtl="true" in the Manifest. This causes library to assume that app is in a RTL language.  Although app's language at first run is the default locale which may be RTL or LTR

Culprit seems to  be LayoutUtil class.

Is there any way to override this?

[2018-10-09 15:30] paolorotolo commented on #5
Fix merged, we can close this.
Thanks.

[2018-10-09 15:30] #5 closed

[2018-10-11 10:27] cortinico opened #589 "Setting up a proper CI environment"
Hey @paolorotolo
If is fine for you, I'd love to set up some CI for building and executing some tests (that we currently don't have but would be cool to have) on AppIntro.

Do you have preferences on this? Otherwise, I'd go for either Travis or Circle.

[2018-10-11 19:40] paolorotolo commented on #589
Absolutely yes! I've used Travis in another Open Source project and developed a CrowdIn integration with it to automatically download and let people crowdfund string translation. We could reuse some code.

[2018-10-15 17:19] mueller-ma commented on #325
App Name: openHAB
Link: https://play.google.com/store/apps/details?id=org.openhab.habdroid

[2018-10-15 17:24] mueller-ma opened #591 "Update to 5.0.0 fails"
**AppIntro Version**: 5.0.0

**Issue details / Repro steps / Use case background**: I have migrated the app to AndroidX, but it's still not possible to update to 5.0.0.
PR: https://github.com/openhab/openhab-android/pull/1035
CI: https://travis-ci.org/openhab/openhab-android/builds/441747775#L1973

Can you help me with migrating to 5.0.0?

[2018-10-16 14:48] cortinico commented on #591
Hey @mueller-ma I tried to checkout your branch locally but I wasn't able to build because of `google-services.json` missing. Do you have a debug file to share?

[2018-10-16 15:02] mueller-ma commented on #591
The file is in the repo (https://github.com/openhab/openhab-android/blob/master/mobile/google-services.json), but some flavors don't build. Can you try fullStable?

[2018-10-16 17:04] paolorotolo commented on #587
Yes, I can reproduce this. We're working on a fix ASAP.

[2018-10-16 17:11] #587 closed

[2018-10-16 17:28] paolorotolo commented on #591
You have a dependency conflict with annotations package from IntelliJ, thus you need to esclude that when adding AppIntro.

I opened a new pull here that fixes the issue: https://github.com/openhab/openhab-android/pull/1051

[2018-10-16 18:06] mueller-ma commented on #591
Thanks!

[2018-10-16 18:06] #591 closed

[2018-10-17 08:42] upcwangying opened #593 "transformDexArchiveWithExternalLibsDexMergerForDebug"
**AppIntro Version**: 5.0.1

**Device/Android Version**:
virtual device : Pixel 2 7.1.1

**Issue details / Repro steps / Use case background**:
I am running an empty activity Android app

**Your Code**:
[code]

**Stack trace / LogCat**:  Stack trace
[code]

[2018-10-17 14:04] Javinator9889 commented on #567
Hi @mrb0098

Have you tried changing the *ScrollDurationFactor*? Please, refer to this for more information at `AppIntroBase` (and classes that inherit from it)
[code]

[2018-10-17 19:41] #589 closed

[2018-10-18 20:41] cortinico commented on #593
Hey @upcwangying
Looks like you're using the non-AndroidX variants of the support library.

Can you please update your dependencies with the following?
[code]

AppIntro 5.x only compatible with AndroidX support libraries.

[2018-10-18 20:41] #593 closed

[2018-10-19 05:03] noam1023 opened #595 "help needed: using custom layout"
appintro version 4.2.3

**Device/Android Version**: same problem on any emulator and device I tested (e.g xioami A1, android 8.0)

**Issue details / Repro steps / Use case background**:
I am trying to use custom fragment (I am new to fragments) and see that the bottom of my fragment is covered by the "skip... Next" part.
Also in my layout, the image runs over the text at the bottom (see screenshot

[2018-10-20 01:03] YoiYang commented on #551
As I double checked the sizes of these files, they sum up to less than 400kb. For the recent versions of my app, I didn't use R.drawable.animation_gradient, neither. But errors continue to occur on different Android phone platforms (LGE, LYF, Prestigio, Xiaomi, Samsung) from Android 4 to Android 7.

Here's a hyperlink to the file where I use the AppIntro:
https://github.com/htoo97/FridgeMate-mobil

[2018-10-21 04:25] jeffdcamp opened #597 "AppIntro causes Kotlin projects to fail compile"
asdfasdf

**AppIntro Version**: v5.0.1

**Device/Android Version**: N/A

**Issue details / Repro steps / Use case background**: Adding AppIntro v5.0.1 library to a project with other libraries with the same module name 'library' causes the following compile error:

[code]
NOTE: the 'library' in library_release.kotlin_module is the cause of this issue

Adding the following to my project would make

[2018-10-21 15:12] cortinico commented on #597
@paolorotolo how do you fell about renaming the `library` module to `appintro`? I'd generally go for this alternative.

[2018-10-22 17:41] paolorotolo commented on #597
Solved in latest commit. I'm keeping this open until it's released in production, which will be tomorrow with a new AppIntro version.

[2018-10-23 17:16] paolorotolo commented on #597
New version is out. Thanks again.

[2018-10-23 20:59] jeffdcamp commented on #597
I just verified the fix... works like a champ!  Thanks for the quick fix!

[2018-10-24 03:55] viet97 commented on #597
i still got this error .

[2018-10-25 13:13] behiunforgiven commented on #597
I'm getting this error in v5.1.0 and non of above solutions solved it.

[2018-10-25 16:48] cortinico commented on #597
@behiunforgiven Can you provide a sample project that fails to compile on your side?

[2018-10-27 09:39] behiunforgiven commented on #597
I init a new project with support library version 28.0.0. and add AppIntro v5.1.0 and it builds with no error.
but when I want to deploy to device, error comes out.

[2018-10-27 10:29] paolorotolo commented on #597
Reopening this for more investigation

[2018-10-29 09:18] Hugsoft commented on #325
App name: iGestures
Link: https://play.google.com/store/apps/details?id=in.hugsoft.igesture

And I plan to use it on my another applications too. :-)

[2018-11-01 12:49] TomTasche commented on #539
I think it's just named inconsistently, take a look at setColorSkipButton

[2018-11-01 13:20] TomTasche commented on #538
I wanted to change the image for the next-button to a text, this is what I came up with as a dirty workaround:

Add this as resource file to your project:
[code]

Add this to your IntroActivity:
[code]

[2018-11-01 13:21] TomTasche commented on #532
There is setImageNextButton on AppIntro.java

[2018-11-01 13:33] TomTasche commented on #532
In case you were referring to the image of a SliderPage, you can use the onSlideChanged-callback to change the content of the next page before it's displayed:

[code]

[2018-11-02 00:18] cortinico commented on #532
Looks like we can close here

[2018-11-02 00:18] #532 closed

[2018-11-02 00:20] cortinico commented on #539
Yup we should probably fix this as is bad. Since I'm going to touch those files with the Kotlin migration, I could probably unify the naming a bit.

[2018-11-02 06:43] Hugsoft commented on #325
App name: Swipe Volume Controller
Link: https://play.google.com/store/apps/details?id=in.hugsoft.swipevolumecontroller

Thanks

[2018-11-02 19:59] Mr-ARBN opened #609 "Problem on (addSlide) in AndroidX"
I'm using AndroidX
this part will not work on AndroidX.
we get error (Cannot resolve method 'addSlide(com.github.paolorotolo.appintro.AppIntroFragment)'
on this part of code < addSlide(AppIntroFragment.newInstance(sliderPage)); >

![image](https://user-images.githubusercontent.com/39969822/47937795-20993500-def7-11e8-8a48-7c938ccfe712.png)

[2018-11-03 13:03] chrisonline opened #610 "AndroidX only?"
Can I use this library only if I update my app to AndroidX?
I use the V28 of the support library at the moment. Not migrated to AndroidX yet.

After try using the library I get this problem:
`Manifest merger failed : Attribute application@appComponentFactory value=(android.support.v4.app.CoreComponentFactory) from [com.android.support:support-compat:28.0.0] AndroidManifest.xml:22:18-91
	is also pr

[2018-11-05 22:22] cortinico commented on #610
Hey @chrisonline

Yup that's the intended behavior. The v5.+ version of AppIntro supports only AndroidX. I highly encourage you migrate your project to AndroidX as this is the direction Google is taking with Android projects. You will find more and more libraries that update to AndroidX in the future.

If you still want to use AppIntro you can either:

- Use version `v4.2.3`, the latest version wi

[2018-11-05 22:22] #610 closed

[2018-11-06 11:51] cortinico commented on #610
Hey @chrisonline

Not really. You can use Jetifier (in the _regular_ mode) to achieve the opposite result. That's exactly what this was designed for :D Just add:

[code]

To your `gradle.properties` file and all the bytecode from non-AndroidX library will be converted to be AndroidX compatible. More on this on: https://developer.android.com/jetpack/androidx/migrate

[2018-11-06 12:07] chrisonline commented on #610
Thank you very much for the info.
Will try and use the "jetifier" thing.

[2018-11-07 07:30] hitanshu-dhawan commented on #325
App Name: PopCorn
Link: https://play.google.com/store/apps/details?id=com.hitanshudhawan.popcorn

[2018-11-10 11:29] cortinico commented on #609
Hey @Mr-ARBN
The problem is exactly what I mentioned:

In your code you have

[code]

You need to replace `AppCompatActivity` with either `AppIntro` or `AppIntro2`.

[2018-11-10 11:29] #609 closed

[2018-11-10 11:49] Mr-ARBN commented on #609
Thank you.

[2018-11-10 11:49] Mr-ARBN commented on #609
@cortinico  thank you

[2018-11-10 14:17] cortinico commented on #609
You're welcome 💪

[2018-11-12 05:35] Jayanth-L opened #614 "The project build errors out but syncs successfully!"
The project syncs successfully after add the the library in the gradle.build file
but errors out during building with the error

**AppIntro Version: 5.1.0**:

**Stack trace / LogCat**:
[code]

[2018-11-12 11:49] cortinico commented on #614
(I'm closing as a duplicate)
@Jayanth-L Are you using AndroidX?

If not: the answer to your question is here #610 (you need to either use AndroidX or v4.2.3 of the library).
If yes: please reopen the ticket.

[2018-11-12 11:49] #614 closed

[2018-11-13 20:50] nicolabeghin commented on #325
App Name: WazzapMigrator
Link: https://play.google.com/store/apps/details?id=com.nbeghin.whatsappmigrator

Great library, thanks a lot!

[2018-11-14 22:41] cortinico commented on #597
@behiunforgiven @viet97 @jeffdcamp Is this still happening?

[2018-11-14 22:42] cortinico commented on #485
Closing as we now support AndroidX (far away from `26` xD)

[2018-11-14 22:42] #485 closed

[2018-11-14 23:12] jeffdcamp commented on #597
I have now been building successfully with v5.1.0 (my issue was resolved with the v5.1.0 release)

[2018-11-15 00:42] aamirki commented on #325
App Name: Mappium Map Maker
Link: https://play.google.com/store/apps/details?id=com.aamirki.mappium

Thanks for the great library!

[2018-11-15 11:22] cortinico opened #615 "Deprecate 'Add My App Request'"
I'm creating this issue to discuss about #325

That ticket is really old, and people keep on posting their app link lazily.
I'd suggest we either:

* Stop accepting new app request

or

* Create another Markdown file with the list of app. Ideally we also want and automated way to track those? Maybe a Pull Request template?

I just believe the current setup doens't scale and we should probably find

[2018-11-15 18:33] neilyoung opened #616 "Android resource linking failed"
Jus did this:

[code]

and this

[code]

Really, not more. And getting flooded with errors on build...

[code]

[2018-11-15 19:06] cortinico commented on #616
In order to use AndroidX you need to use also the support library (AndroidX):

Please add this:
[code]

In the dependencies block.
(You probably need to add also `google()` inside the `repositories` block).

[2018-11-15 19:06] #616 closed

[2018-11-17 09:35] cortinico commented on #577
@huanyuan is this still happening?

[2018-11-17 09:35] cortinico commented on #553
Closing as looks solved

[2018-11-17 09:35] #553 closed

[2018-11-17 09:36] cortinico commented on #535
@felipeparente Can you provide your code where you're configuring the library?

[2018-11-18 15:38] TomTasche commented on #402
I had the same problem (see https://blog.tomtasche.at/2018/11/designing-good-on-boarding-experience.html) and fixed it by using an Android Studio plugin called "Android Drawable Importer".

[2018-11-18 15:40] TomTasche commented on #575
I fixed this by using a custom theme and setting the color. Doesn't work well on old devices though. See here for more: https://blog.tomtasche.at/2018/11/designing-good-on-boarding-experience.html

[2018-11-18 15:42] TomTasche commented on #551
This is a known issue for devices with lower resolutions. You should scale down your images so the device doesn't have to do it at runtime. See here for more: https://github.com/paolorotolo/AppIntro/issues/402#issuecomment-439701856

[2018-11-18 15:52] drishit96 commented on #325
App Name: Pollscape - Poll in real-time
Link: https://play.google.com/store/apps/details?id=com.app.pollscape.release

Thanks for the awesome library!

[2018-11-18 18:35] cortinico commented on #402
Closing as inactive and potential solutions were offered

[2018-11-18 18:36] #402 closed

[2018-11-20 22:51] GabrielBB opened #617 "v5.1.0 fails when using com.android.support:appcompat-v7:28.0.0"
It gives this error:

**tools:replace="android:appComponentFactory"** doesn't resolve the problem, it adds another one

[2018-11-20 22:53] cortinico commented on #617
Hey @GabrielBB

This issue was already reported in #610
In order to use the latest version of AppIntro, you need to use AndroidX. If you don't migrate to AndroidX, use the version `v4.2.3` of the library.

[2018-11-20 22:53] #617 closed

[2018-11-20 23:00] #577 closed

[2018-11-20 23:02] GabrielBB commented on #617
Understood. Thanks for the quick response.

[2018-11-20 23:04] cortinico commented on #617
You're welcome :)

[2018-11-21 09:51] Anutha02 opened #619 "Add more indicator animations"
**AppIntro Version**:

**Device/Android Version**:

**Issue details / Repro steps / Use case background**:

This is a great library but I think if you could add more indicator animations to it, like this library:

https://github.com/romandanylyk/PageIndicatorView

Just thought of suggesting it as it might be useful to people. What do you think of it?

[2018-11-21 11:32] cortinico commented on #619
Hey @Anutha02

Thanks for the suggestions.
I'll leave it around to understand how many developers are interested in this.

If someone is interested, please upvote or comment :)

[2018-11-22 15:01] Anutha02 commented on #522
Take a look at #618

[2018-11-23 21:02] JavaCafe01 commented on #575
If you want to get rid of the status bar just use `showStatusBar(false);`

[2018-12-03 10:26] frmz opened #621 "New naming in Jitpack breaks version checks"
New naming in Jitpack uses a leading "v", this breaks "ben manes" gradle version plugin, realted issue is the following: https://github.com/ben-manes/gradle-versions-plugin/issues/277

Plugin now shows:

[code]

So it thinks that 4.2.3 is a lower release than 4.1.0
Is it possible to go back to old naming?

[2018-12-09 18:32] francescogatto commented on #325
App Name: TabuDroid
Link: https://play.google.com/store/apps/details?id=net.francescogatto.tabudroid

Thanks a lot for your work!

[2018-12-12 08:48] arutkayb commented on #419
Similar issue on Android 7.0 and 4.3

[2018-12-14 02:26] ajonno opened #622 "Add a back arrow button ?"
**AppIntro Version**:  4.2.3

hi there, thanks for the great lib. Is it possible to optionally add a "back" arrow button, so the user can move backwards by tapping on it (as opposed to using the Android back button) ?

[2018-12-15 21:38] Merthan commented on #325
App Name: The Launcher
Link: https://play.google.com/store/apps/details?id=com.gmail.ME2Development.TheLauncher

Thank you so much!

[2018-12-21 12:23] adrcotfas opened #623 "request: extend example with color transition and parallax slides"
As mentioned in the title, it would be very nice and useful for a lot of people to have a working example of color transitions, parallax and custom animations as mentioned in the README.
Thanks!

[2018-12-21 17:16] cortinico commented on #621
I think we should be fine with pushing new tags that copy the old one.
From my point of view we should be fine pushing those tags:

[code]

And from the upcoming version on let's use only the name without a `v`

[2018-12-31 13:55] peterhav opened #624 "Missing content description for several UI elements"
**AppIntro Version**: v5.1.0

**Device/Android Version**: All

**Issue details / Repro steps / Use case background**:  Most App intro UI elements do not provide a content description. A propor content description is required as described here: https://support.google.com/accessibility/android/answer/7158690). Pre-launch reports indicate these warnings for App Intro section of my app.

**Your Code**

[2019-01-03 18:02] cortinico commented on #624
Hey @peterhav you're right.
This is a big problem, I'll be fixing it in the upcoming release of the library.

[2019-01-03 18:06] cortinico commented on #624
Here the fix #626

[2019-01-03 20:43] mxp7064 commented on #335
@ViliusKraujutis thanks man! I was wondering the same thing. It would be nice to have that feature in the library.

[2019-01-04 14:33] cortinico commented on #624
So this will be fixed in the upcoming version of the library

[2019-01-04 14:33] #624 closed

[2019-01-05 01:06] studio2bdesigns opened #627 "newInstance is Depreciated"
Please note, `newInstance` is **Depreciated.**<br>
It is crossed-out within Android Studio, and said to be **Depreciated** - however it _does_ work when ran.<br>
..Is there an updated way of doing this, to replace using `newInstance`..?<br>
<br>
**Example of code that is Depreciated:**<br>
`addSlide(AppIntroFragment.newInstance("title", "description", R.drawable.image, background_color));`<br>
<br

[2019-01-08 10:53] cortinico commented on #627
Hi @studio2bdesigns

So the behavior is expected.
The method `AppIntroFragment.newInstance` is deprecated in AppIntro `4+`. Deprecated means that you can still use it but expect it to change.

The alternative to your code is to use a SliderPage:

[code]

Please note that in the upcoming version of AppIntro, we removed the deprecated methods and we now offer only two methods on `AppIntroFragment`:

[2019-01-08 10:53] #627 closed

[2019-01-09 00:30] cortinico commented on #335
Hey @mxp7064 @ViliusKraujutis

With #628 you should be able to override the background color in your app.
You just need to define a `color` in your `colors.xml` file called `appintro_default_background_color` and define your default color.

[2019-01-09 00:35] mxp7064 commented on #335
@cortinico Thanks!

[2019-01-10 16:02] #335 closed

[2019-01-25 09:49] carstenhag commented on #324
Just got the same error , about 2 years and a bit later :)

If a fix would be possible, that would be cool of course!

[2019-01-25 10:05] carstenhag commented on #347
Any chances this is coming any soon? Just noticed this too and wondered that it has been open for so long 👍

[2019-01-25 10:53] cortinico commented on #324
@carstenhag Can you please provide version of AppIntro that you're using + an updated stacktrace?

[2019-01-25 11:07] carstenhag commented on #324
@cortinico sure: v5.1.0

[code]

[code]

[2019-01-25 13:53] cortinico commented on #324
Hey @carstenhag
Looks like your code is wrong. You shouldn't call `setContentView` in your `onCreate`.
Checkout the sample here https://github.com/AppIntro/AppIntro/blob/master/README.md

[2019-01-25 14:33] carstenhag commented on #324
Yeah of course, I read that in this issue.

Read some earlier comments here, they talk about possibly adding a linter error.

[2019-01-26 14:46] cortinico commented on #324
Is your issue fixed?
I can think about writing a lint check about that, but is definitely a low priority task

[2019-01-26 14:47] carstenhag commented on #324
Yep, issue is fixed.

Am Sa., 26. Jan. 2019, 15:46 hat Nicola Corti <notifications@github.com>
geschrieben:

[2019-01-30 10:39] BG-Kim commented on #538
If you want to change image, you can simply.
color change : setNextArrowColor()
image chnage : setImageNextButton()

if you change to text. I think you will inheritance activity.

[2019-01-30 19:58] #538 closed

[2019-02-04 15:24] androidovshchik commented on #110
It's much better with smoothing scroll
[code]

[2019-02-09 13:16] amos-yau opened #638 "Resources$NotFoundException"
**AppIntro Version**: 4.2.3

**Device/Android Version**: 5,6,7,8

**Issue details / Repro steps / Use case background**: from Crashlytic collected, happened 40-50 times.

**Your Code**:
            SliderPage slideNoNeedNetwork = new SliderPage();
            slideNoNeedNetwork.setTitle(getString(R.string.no_need_network_title));
            slideNoNeedNetwork.setTitleColor(Color.DKGRAY);

[2019-02-16 10:41] cortinico commented on #638
Hey @amos-yau

Looks like you're passing the wrong resource to the `slideNoNeedNetwork.setImageDrawable(...)` calls. Please make sure the drawables you pass are actually available in the final APK.

Closing as this doesn't look related to AppIntro.

[2019-02-16 10:41] #638 closed

[2019-02-16 20:39] softmarshmallow commented on #335
Having same problem, @cortinico 's solution didnt work..

[2019-02-16 20:42] softmarshmallow commented on #494
Link is Dead.

[2019-02-17 08:25] Kvaibhav01 commented on #494
Yes @softmarshmallow I deleted them because my issue was solved :)

[2019-02-18 16:47] cortinico commented on #335
@softmarshmallow Which version of AppIntro are you using.
Please note that the fix I mentioned was merged with #628 and is only available on `master`, we haven't released a new version yet.

[2019-02-21 15:15] Anutha02 commented on #619
Hey! Looks like some people are interested in it..... What do you say..?

[2019-02-21 16:17] alirezat66 commented on #576
@mianaliasjad did you find any solution to solve this problem or not? why anyone dont reply your question? I have same problem.

[2019-02-22 00:59] cortinico commented on #576
Can you provide a screen shot @alirezat66 ?

[2019-02-22 01:25] cortinico commented on #619
Hey @Anutha02
So I've added support for this in this commit cf7ffab86683b2be9fc2e682ac0d24d53ce1e3b7

The point is that we would need to add a dependency on `PageIndicatorView`, and maybe only a few users would actually need it.

Would love to get also @paolorotolo inputs on this.
Maybe we should provide another Gradle module like `appintro-animated-indicator` that offers the extra class I created

[2019-02-22 02:29] mianaliasjad commented on #576
@alirezat66 i did not find any solution. So i did bot used this library instead i created my own with ViewPager.

[2019-02-22 09:02] amos-yau commented on #638
@cortinico thanks for your reply.

I've downloaded the device-specific (crashed device) APK from Play Console's Artifact Library, and then used Android Studio to look into the APK, all the images are there, in a separated APK named "config.xxhdpi.apk", apart from the "base.apk".

I wonder is the problem due to AppBundle is being used?

[2019-02-22 10:37] Anutha02 commented on #619
Great Work @cortinico...
But from what I understood it is an incomplete implementation... ( You have hard-coded animation type?). I think that the current indicator implementation should be replaced by this one and there should be a method like setAnimationType(AnimationType a) that allows the user to set the animation type...

[2019-02-22 10:49] Anutha02 commented on #619
As for the dependency... I don't think it would do much harm, would it @cortinico?
If we remove the 2 drawables and the 3 classes of our current implementation and replace by pageindicatorview it would only add about ~200kb (maybe even less). And the unneeded classes can easily be stripped off by proguard if implemented properly.... I think it is a relatively small size increase for the functional

[2019-02-22 11:06] Anutha02 commented on #619
Don't you think that just like users are able to select animation like:setFadeAnimation(), they should also be able to select animation type like: setThinWormAnimation() and if they don't specify a custom animatiom, the AnimationType.NONE should be the default...

[2019-02-22 15:35] Anutha02 commented on #619
Actually you could even expose more customisability of the indicator like colour, size etc.

[2019-02-22 16:53] Anutha02 opened #640 "Change navigation bar and status bar colour"
**AppIntro Version**:5.1.0

**Issue details / Repro steps / Use case background**: Is there a way to change the navigation and status bar colour (custom colour for each slide) or making them transparent/translucent?If yes, please guide me on how to do it, If not would it be possible to implement it?

[2019-02-22 17:11] Anutha02 commented on #516
Hey @paolorotolo is this still under consideration? What would be the performance benefits if implemented?

[2019-02-22 17:31] alirezat66 commented on #576
yes of course , i send u two scree from my design and my output
<img width="302" alt="screen shot 2019-02-22 at 8 58 01 pm" src="https://user-images.githubusercontent.com/6933305/53259673-e5f51b80-36e4-11e9-948a-735c3de024f9.png">
<img width="386" alt="screen shot 2019-02-22 at 8 58 19 pm" src="https://user-images.githubusercontent.com/6933305/53259685-eee5ed00-36e4-11e9-84b9-3852763ce762.png">

[2019-02-22 17:32] alirezat66 commented on #576
I found your problem , your container in your  view  :

[2019-02-22 17:33] alirezat66 commented on #576
https://github.com/AppIntro/AppIntro/blob/master/appintro/src/main/res/layout/appintro_intro_layout.xml
in <com.github.paolorotolo.appintro.AppIntroViewPager
line 9 u shoud set above: "@id/bottom"

[2019-02-22 17:33] alirezat66 commented on #576
@cortinico

[2019-02-23 00:39] cortinico commented on #576
Fix is forthcoming #641 :)

[2019-02-23 00:46] cortinico commented on #640
Hey @Anutha02
You can change the color of the navigation/status bar directly from your theme.
You can find an example here: https://stackoverflow.com/questions/27839105/android-lollipop-change-navigation-bar-color

Like if you add this:
[code]
to your theme you will have something like:
![Imgur](https://i.imgur.com/oaWU3OW.png)

[2019-02-23 00:46] #640 closed

[2019-02-23 00:48] cortinico commented on #619
@paolorotolo thoughts on this?

I'd be more for adding an extra module with the external dependency.
In this way we can keep the lib a bit more isolated.

[2019-02-23 00:55] cortinico commented on #638
Awesome :) Thanks for the follow up

[2019-02-23 01:54] Anutha02 commented on #619
Alright As you wish. You know better than me. Can you give me some resources to read about this kind of implementation (optional external dependency) as I have never come across one like this. Thanks.

[2019-02-23 01:58] Anutha02 commented on #640
Alright. Thanks.

[2019-02-23 02:03] Anutha02 commented on #551
Hey @paolorotolo Do you think using fragment viewpager/fragmentstateviewpager could potentially solve this issue?

[2019-02-23 13:22] Anutha02 opened #643 "[Suggestion] Flatten Layout hierarchy by using constraintlayout"
**Issue details / Repro steps / Use case background**: Do you think it would be better if we use constraintlayout in appintro_intro_layout 1 and 2? That way we might gain some performance. But then we would have a dependency on constraintlayout... If you agree I will submit a PR with the required changes, so let me know what you think.

[2019-02-24 03:06] Anutha02 commented on #595
Take a look at #641

[2019-02-24 04:06] Anutha02 opened #644 "[Enhancement] Crossfade Next/Finish Button"
**Issue details / Repro steps / Use case background**: When the user navigates to the last slide, the next button abruptly changes to the finish button. It would be great if we can implement a fading animation(alpha depending upon pageOffset) between the two views. I tried doing so, but there is a blinking effect in my implementation and not a smooth fade... Do you think this can be implemented?

[2019-02-24 10:47] #576 closed

[2019-02-24 11:17] Anutha02 commented on #595
@paolorotolo This issue is solved. Can be closed now

[2019-02-24 23:00] cortinico commented on #643
That's a good idea :)

I think that the performance gain/impact here is really minimal.
I'd rather point out that this will cleanup the code a bit and modernize the layout generally.

Not a major problem as ConstraintLayout starts to be widely used, so we won't impact the user of the library so much.

[2019-02-24 23:00] cortinico commented on #595
Thanks @Anutha02 👍

[2019-02-24 23:00] #595 closed

[2019-02-24 23:01] cortinico commented on #644
@Anutha02 Do you mean for `layout2`?

I'd argue the icon should be an `AnimatedVectorDrawable` and change from arrow to tick eventually.

[2019-02-25 01:38] Anutha02 commented on #644
@cortinico yes for layouts, but the next and finish buttons are separate and I believe animatedvectordrawable only works for one button....:-|

[2019-02-25 01:43] Anutha02 commented on #643
Okay, I am on it.

[2019-02-25 10:19] Anutha02 commented on #643
Hey @cortinico @paolorotolo I am also rewriting the sample app, so should I change it from com.amqtech.appintroexample to com.github.paolorotolo.appintroexample or not?

[2019-02-25 12:02] Anutha02 commented on #643
I am done with layout2. Will be submitting PR tonight by 9pm (Indian Time)

[2019-02-25 17:23] Anutha02 commented on #643
Done by PR #647

[2019-02-25 17:27] Anutha02 commented on #578
@cortinico This should Be Fixed By #647

[2019-02-25 17:35] paolorotolo commented on #643
Thanks for the PR, about example app package name, I think it would be better to adopt a new package name like ```com.github.appIntro.example``` to keep consistency with the current library url.
@cortinico what do you think?

[2019-02-25 18:02] paolorotolo commented on #644
+1 for the morphing animation on the button :+1:

[2019-02-26 01:46] Anutha02 commented on #643
Yeah com.github.appIntro.example would be great.

[2019-02-26 01:49] Anutha02 commented on #644
I tried implementing it. But in the implementation I saw for reference, the next/finish button were the same and only the drawable changed at the last slide, but here along with the drawable, the background circle also changes colour and that leads to a blinking effect while transforming. I will look further into it today.

[2019-02-26 01:58] cortinico commented on #643
Let's go for `com.github.appintro.example` :) (no uppercase)

[2019-02-26 13:55] Anutha02 opened #648 "Overscroll viewpager"
**Device:** Xiaomi Redmi Note 5 pro

**Issue details / Repro steps / Use case background**: So in MIUI, the new activity opens from right side and moves to the left which happens to be the same way the next page of viewpager appears. Now while pressing skip/finish button the activity ends and goes from left to right. This gives an effect that instead of going forward we are going backwards.So we n

[2019-02-27 11:10] Anutha02 commented on #575
Fixed by #647 . If you want to set any color, just extend AppIntroStyle

[2019-02-27 11:26] Anutha02 commented on #539
@cortinico This issue has been fixed. Should be closed

[2019-02-27 11:27] Anutha02 commented on #537
@cortinico This issue has been solved, can be closed

[2019-02-27 11:30] Anutha02 commented on #530
@cortinico This issue is invalid .To change the statusbar color we can just define it in our theme file . And after #647 we can also extend AppIntroStyle and override the color values easily.

[2019-02-27 11:53] Anutha02 commented on #517
@cortinico @paolorotolo The method isRTL() should be of this form:
` fun isRtl(ctx: Context): Boolean {
       var isRTL : Boolean
        isRTL = false //RTL is supported only on API 17, so it will be false on API<17
        if (Build.VERSION.SDK_INT >= Build.VERSION_CODES.JELLY_BEAN_MR1) {
            isRTL = ctx.resources.configuration.layoutDirection == View.LAYOUT_DIRECTION_RTL
        }

[2019-02-27 11:55] Anutha02 commented on #516
@cortinico What do you think of this? Will it offer any benefits?

[2019-02-27 11:58] Anutha02 commented on #486
@cortinico Fixed in #647

[2019-02-27 12:05] Anutha02 commented on #470
@paolorotolo Fixed by #647 Now we have a separate landscape layout

[2019-02-27 12:06] Anutha02 commented on #447
@paolorotolo This issue can be closed for inactivity

[2019-02-27 12:16] Anutha02 commented on #347
@paolorotolo Any updates on this?

[2019-02-27 12:17] Anutha02 commented on #354
@paolorotolo This issue should be fixed by #647 if it was still there

[2019-02-27 12:19] Anutha02 commented on #400
@paolorotolo This issue is not there anymore. Can be closed for inactivity

[2019-02-28 07:15] venkatselva8 commented on #325
App Name: JobHub (search software jobs)
Link: https://play.google.com/store/apps/details?id=com.venkyapps.githubjobs

Thanks for the great library. Keep up the good work.

[2019-02-28 14:16] nazeerahamed23 opened #649 "How to use imageURL"
How to use image URL instead of image drawable?

[2019-02-28 14:24] Anutha02 opened #650 "[Suggestion] Overhaul of AppIntro"
**Issue details**: So, Since I have some free time at my disposal, I was thinking of revamping the API a bit and making it more customizable. I suggest that instead of having the two classes AppIntro and AppIntro2, we just have these 2: **SimpleIntro** and **CustomIntro**. If the user wants just a simple solution we provide SimpleIntro and allow the user to change layout type by using setLayoutTyp

[2019-02-28 14:25] Anutha02 commented on #650
@cortinico @paolorotolo tell me your thoughts pls :-)

[2019-02-28 14:26] Anutha02 commented on #649
Do you mean for the background of the activity?

[2019-02-28 14:28] nazeerahamed23 commented on #649
yes

[2019-02-28 14:29] Anutha02 commented on #649
It is currently work in progress. Might be available in next release

[2019-02-28 23:52] #400 closed

[2019-02-28 23:53] #354 closed

[2019-02-28 23:54] cortinico commented on #447
Wow also funny to see the old Eclipse interface there xD

[2019-02-28 23:54] #447 closed

[2019-02-28 23:58] cortinico commented on #530
Yup right @Anutha02

[2019-02-28 23:58] #530 closed

[2019-02-28 23:59] #575 closed

[2019-02-28 23:59] #486 closed

[2019-03-01 00:01] #537 closed

[2019-03-01 00:30] cortinico commented on #648
@Anutha02 Can you record a video? I don't have a MIUI so I can't really reproduce :|

[2019-03-01 00:30] cortinico commented on #619
I can push a branch as soon as we merge #647 :)

[2019-03-01 00:31] #539 closed

[2019-03-01 00:33] cortinico commented on #516
So the `FragmentStatePagerAdapter` is definitely an improvement.

Anyway I'd probably postpone this work till `ViewPager2` gets released and go directly to the new `FragmentStateAdapter`.

Doesn't really make sense to migrate now from one pattern to another if we have to migrate again in a couple of months.

[2019-03-01 00:35] #470 closed

[2019-03-01 00:37] cortinico commented on #649
Just to clarify @nazeerahamed23
@Anutha02 is working on a feature to allow you to set a image as background via resId/Drawable (see #647)

There is no image URL download feature.

[2019-03-01 00:37] #649 closed

[2019-03-01 02:36] Anutha02 commented on #650
@cortinico, @paolorotolo Okay, so I just tried creating another proof of concept and actually implemented 90% of it...

[2019-03-01 02:43] Anutha02 commented on #516
Yup. Agreed

[2019-03-01 02:50] cortinico commented on #650
Don't we already have basically the same functionality with the  `public void addSlide(@NonNull Fragment fragment) {` method?

We could think about having another method like `public void addSlide(@LayoutRes Integer layout) {`
that creates an empty layout and set it with the layout passed in input.

The point of having a custom Fragment is that it allows already a good level of customization. Whil

[2019-03-01 03:56] Anutha02 commented on #650
@cortinico, yeah I just got carried away and forgot about the fragment part :-P sorry.

Okay, I get it that ids are hard to enforce, but there are only a handful of trivial ones here, and we could just mention them in readme. We need to create atleast some sort of implementation that gives users more freedom to choose the positions and shapes/sizes of their buttons. And I think setLayoutRes(@Layou

[2019-03-01 04:01] Anutha02 commented on #619
@cortinico So what was decided? Is it gonna be a separate module or not?

[2019-03-01 04:09] Anutha02 commented on #650
Hey @cortinico if you think enforced ids are bad, then along with setLayoutRes(@layoutRes) we can also expose methods : setNextBtnRes()/setNextbtnid(). Or something like that, which basically tells AppIntro which view is defined as next BTN, back BTN etc. And manage their behaviour accordingly...Also, instead of removing the AppIntro and AppIntro2 classes we just have to deprecate them, so no brea

[2019-03-02 18:21] cortinico commented on #619
I'm waiting for #647 to be merge to push out a draft so we can discuss about that.

[2019-03-02 18:26] cortinico commented on #650
The README is getting less updated than the code. Moreover people just bump the library, without reading the readme every version.

I'm generally against this.
Libraries should be simple and solve simple tasks.

Big APIs are hard to handle. Giving the full control over all the widgets, will make the library developer life harder, for the benefit of a little group (users tends to use the default la

[2019-03-03 02:41] Anutha02 commented on #650
Alright @cortinico Last offer. We switch to using  only one class: AppIntro. Set the layout type using setLayoutType(LayoutType) e.g. setLayoutType(APPINTRO_FAB_LAYOUT) and add a new layout: appintro_intro_layout_3 that matches the ones mentioned in the first post. Or if you still don't want to change anything in the library we make a new class AppIntro3 with the new layout which causes absolutely

[2019-03-03 13:50] Anutha02 commented on #483
@cortinico fixed by #647. Now you can set image for the background as well as for fragments

[2019-03-03 13:51] Anutha02 commented on #445
@cortinico This issue can be closed now

[2019-03-03 13:55] Anutha02 commented on #477
@paolorotolo @cortinico. This should be fixed by #647. Font size can be set by overriding dimen values.

[2019-03-03 13:55] Anutha02 commented on #499
@cortinico fixed by #647

[2019-03-03 14:00] Anutha02 commented on #458
You are setting match parent as the layout height of the constraintlayout. If you want the expected result, remove the match_parent attribute and replace it with any value, also try with wrap_content set as the hight.

[2019-03-03 14:02] Anutha02 commented on #437
@paolorotolo can be closed due to inactivity

[2019-03-04 06:11] serhii-pokrovskyi commented on #458
Hello, it's been 1.5 after this report =)

Setting wrap_content in my case(1.5 year old case) is not a solution at all.
Main problem is: bottom bar(where exit, next, etc) cover up main content. That is(or was?) a bug, as i see it.

[2019-03-04 07:02] Anutha02 commented on #458
If that is the case, then it is fixed by #647

[2019-03-04 21:14] #437 closed

[2019-03-05 22:17] #445 closed

[2019-03-07 08:35] donUA opened #651 "Failed to notify build listener."
**4.1**:

**Device/Android Version**:

**Gradle project sync Fails with error "Failed to notify build listener."**:

**Your Code**:

**java.lang.AbstractMethodError
	at org.gradle.api.internal.artifacts.ivyservice.resolutionstrategy.DefaultCachePolicy.mustRefreshModule(DefaultCachePolicy.java:205)
	at org.gradle.api.internal.artifacts.ivyservice.resolutionstrategy.DefaultCachePolicy.mustRefreshMod

[2019-03-07 11:03] Asendo316 opened #652 "How to change the title position"
I'm using AppIntro:v4.2.3, I want to place the title text below the Image and directly above the description.
How do i do this please

[2019-03-07 12:08] Anutha02 commented on #651
This isn't related to the library as far as I know.

[2019-03-07 12:09] Anutha02 commented on #652
One way is to use custom fragments.

[2019-03-07 12:58] Asendo316 commented on #652
I already tried using a custom fragment but when i swipe to switch to a second fragment i get this error

java.lang.IllegalStateException: Can't change tag of fragment RateFragment{38915ae #0 id=0x7f0a01a6 android:switcher:2131362214:0}: was android:switcher:2131362214:0 now android:switcher:2131362214:2
        at android.support.v4.app.BackStackRecord.doAddOp(BackStackRecord.java:409)
        at

[2019-03-07 13:00] Anutha02 commented on #652
Hmmmm... Can you give your code and layout of fragments?

[2019-03-07 13:02] Asendo316 commented on #652
This is the fragment class
`public class RateFragment extends Fragment {

    public RateFragment() {
        // Required empty public constructor
    }

    @Override
    public View onCreateView(LayoutInflater inflater, ViewGroup container,
                             Bundle savedInstanceState) {
        // Inflate the layout for this fragment
        return inflater.inflate(R.layout.fragment_r

[2019-03-07 13:07] Anutha02 commented on #652
Try setting the ID of fragment as main for first fragment, main2 for second and tell me what happens

[2019-03-07 13:09] Anutha02 commented on #652
Also please show me your activity code where you are initialising the fragment.

[2019-03-07 13:11] Anutha02 commented on #652
Also, try this

https://github.com/AppIntro/AppIntro/blob/master/README.md#custom-slides-example

[2019-03-07 13:15] donUA commented on #651
Thank you for your reply
Apparently it wasn't. I fixed it from my end.
Regards

On Thu, Mar 7, 2019, 3:08 PM Anurag Thakur <notifications@github.com> wrote:

[2019-03-07 13:18] Anutha02 commented on #651
Please close the issue 😄

[2019-03-07 13:21] Asendo316 commented on #652
Okay i think i got it working now. I was using a fragment twice in the   addSlide(fragment);
thanks

[2019-03-07 13:21] #652 closed

[2019-03-07 13:22] #651 closed

[2019-03-07 13:25] Anutha02 commented on #652
Great

[2019-03-08 20:34] paolorotolo commented on #578
#647 has been merged, I'm closing this.

[2019-03-08 20:34] #578 closed

[2019-03-09 01:51] Anutha02 commented on #643
Done

[2019-03-09 01:51] #643 closed

[2019-03-09 02:30] Anutha02 commented on #571
This issue is invalid can be closed @paolorotolo

[2019-03-09 02:31] Anutha02 commented on #533
@cortinico please close this

[2019-03-09 02:32] Anutha02 commented on #527
It's an Intro library, not a viewpager. You cannot create endless scrolling using this library.

[2019-03-09 02:33] Anutha02 commented on #527
@paolorotolo please close this

[2019-03-09 02:34] Anutha02 commented on #525
@cortinico This issue can be closed isn't valid anymore

[2019-03-09 02:37] Anutha02 commented on #513
You can do this using the instanceof operator to check if the old fragment or the new fragment is the instance of your fragment.

[2019-03-09 02:37] Anutha02 commented on #513
@paolorotolo Can be closed

[2019-03-09 02:38] Anutha02 commented on #510
There aren't any plans regarding this. Also the intro part is best left separated in its own activity.

[2019-03-09 02:39] Anutha02 commented on #508
I guess you haven't declared the permissions in your manifest file. If this is the case, then the permissions don't appear.

[2019-03-09 02:40] Anutha02 commented on #508
@cortinico Solved

[2019-03-09 02:41] Anutha02 commented on #502
You should use custom fragments for this

[2019-03-09 02:42] Anutha02 commented on #499
@paolorotolo Can be closed now

[2019-03-09 02:43] Anutha02 commented on #483
@cortinico please close this

[2019-03-09 02:50] Anutha02 commented on #408
Is this issue still present?

[2019-03-09 16:42] Anutha02 commented on #347
@cortinico Add this to the Triage as high priority. I am working on this and will submit a PR soon.

[2019-03-09 18:12] Anutha02 commented on #347
Almost 90% done. Will send a PR soon™.😊

[2019-03-09 20:23] #499 closed

[2019-03-10 11:38] paolorotolo commented on #513
Thanks.

[2019-03-10 11:38] #513 closed

[2019-03-10 11:39] #527 closed

[2019-03-10 11:39] paolorotolo commented on #571
RTL should be fixed with latest changes. Please feel free to reopen if you still have issues.

[2019-03-10 11:39] #571 closed

[2019-03-10 17:10] #650 closed

[2019-03-10 17:12] Anutha02 commented on #648
@cortinico Sorry, didn't see your comment

[2019-03-10 17:13] Anutha02 commented on #648
Anyways, don't worry, I am working on it :)

[2019-03-10 18:24] Anutha02 commented on #567
This problem has been answered. @paolorotolo please close

[2019-03-10 18:25] Anutha02 commented on #552
@cortinico Can be closed for inactivity

[2019-03-10 18:26] Anutha02 commented on #535
@paolorotolo can be closed for inactivity

[2019-03-10 18:28] Anutha02 commented on #508
@paolorotolo can be closed, as the most probable cause is not declaring the permissions in the manifest( Even I was stuck because of this for a while)

[2019-03-10 18:30] Anutha02 commented on #501
@paolorotolo Can be closed for inactivity/unclear

[2019-03-10 18:33] Anutha02 commented on #483
@paolorotolo Please close this

[2019-03-10 18:40] Anutha02 commented on #347
99% done.

[2019-03-10 18:42] Anutha02 commented on #347
Also, @paolorotolo This wasn't as simple as only disabling the setSwipelock call....😅😅

[2019-03-11 11:12] Anutha02 opened #655 "Sample App Rewrite Help"
**AppIntro Version**: Upcoming

**Issue details / Repro steps / Use case background**: Can I use android architecture components in building the sample App? ( Viewmodel, livedata etc?). I am asking because then it might be a little bit intimidating for new developers checking the code, but AAC really help a lot, so I think we should use it, as the developers anyway go to the readme. So, tell me Wh

[2019-03-11 17:20] #567 closed

[2019-03-11 17:20] #502 closed

[2019-03-11 17:21] #525 closed

[2019-03-11 17:21] #552 closed

[2019-03-11 17:21] #535 closed

[2019-03-11 17:21] #483 closed

[2019-03-11 17:30] #501 closed

[2019-03-11 17:33] #533 closed

[2019-03-11 18:02] Anutha02 commented on #477
@cortinico please close

[2019-03-13 18:19] #648 closed

[2019-03-13 23:42] cortinico commented on #655
So generally I think we should keep the Sample App as simple as possible.
I don't really see much value in having AAC in the example app (but please let me know if you have some examples uses case that would make the app benefit of that).

Generally speaking, the app should be used as a starting point where developers can copy-n-paste from. If we add AAC, I'm afraid developers will just assume the

[2019-03-13 23:42] #655 closed

[2019-03-13 23:43] #477 closed

[2019-03-14 04:38] AnuthaDev opened #656 "Sample App Rewrite Help[Design]"
**AppIntro Version**: Upcoming

**Issue details / Repro steps / Use case background**: I actually have 2 ideas on developing the sample App:
1. Stays mostly the same with the addition of a new slide for parallax and colour transform.--> Relatively simple to grasp.

2. The app starts and we have a Scroll view with a bunch of cardviews inside, the cardviews contain customizability options for the ac

[2019-03-14 17:58] Anutha02 commented on #484
@cortinico Can you add this to the Triage pls

[2019-03-14 17:59] Anutha02 commented on #349
@cortinico Add this to the Triage, I'm working on it

[2019-03-14 23:06] cortinico commented on #484
Closing as the sample app has been reworked and is not on Play Store at the moment.

[2019-03-14 23:06] #484 closed

[2019-03-15 00:32] cortinico commented on #621
Hey @frmz
I've just pushed this tags to AppIntro:

[code]

I'm going to update the README to point developers to use the version without the `v`.
Previous tags are kept for backward compatibility.

[2019-03-15 00:32] #621 closed

[2019-03-15 00:41] #508 closed

[2019-03-15 00:42] cortinico commented on #347
So what's the status @Anutha02 here?

[2019-03-15 01:02] cortinico commented on #656
Would it be possible to have like an hybrid solution?

Like I would definitely skip the ViewPager with the examples we have now and I'll just have a list of Buttons that fires an AppIntro with some hardcoded settings.

We can still have a _customizer_ as you mentioned. I think it's really cool, although I don't expect major usage. Usually developers tends to run a sample app for not more than say

[2019-03-15 02:22] Anutha02 commented on #656
@cortinico, I am thinking the same, I will improve on the design and talk about it soon

[2019-03-15 09:43] Anutha02 opened #658 "Add a new fragment layout?"
**AppIntro Version**: Upcoming

**Issue details / Repro steps / Use case background**: There are a few people asking for a layout in which the title is below the image and just above the description, so I was thinking of adding it. To get this, we can create a class AppIntro2Fragment and a new fragment layout. So let me know if this is acceptable...😄

[2019-03-15 10:26] Anutha02 commented on #658
@cortinico what do you think?

[2019-03-15 17:40] Anutha02 commented on #347
Solved by #654

[2019-03-15 17:45] cortinico commented on #656
Great looking forward :)

[2019-03-15 17:52] Anutha02 commented on #570
Hmmmm. Let me see...

[2019-03-15 17:56] Anutha02 opened #659 "What is wizard mode?"
**Issue details / Repro steps / Use case background**: I have seen mentions of a wizard mode throughout the code, but never really understood what it is. It is listed in the to-do for the sample App Rewrite, and I couldn't find it in the readme, so could anyone explain please.

[2019-03-15 18:46] carstenhag commented on #347
#654 may fix this, but it's not merged yet. Imo should be open still :)

[2019-03-15 19:01] cortinico commented on #659
Hey @Anutha02

IIRC the wizard mode should be the `template` feature that is here:
https://github.com/AppIntro/AppIntro/tree/master/template

I think we can probably remove it as Android Studio evolved so much and last commit on that was 2 years ago. Moreover I don't think developers are really using it.

@paolorotolo thoughts on this?

[2019-03-15 19:02] cortinico commented on #347
@carstenhag Yeah you're right. I confused #654 with #647

[2019-03-15 19:13] cortinico commented on #658
Yeah sounds good to me 👍

[2019-03-15 19:13] #658 closed

[2019-03-17 01:12] #659 closed

[2019-03-17 10:42] Anutha02 commented on #622
@cortinico, Actually we can easily achieve this by setting wizard mode to true. So this isn't an issue.

[2019-03-17 16:23] cortinico commented on #622
@Anutha02 Correct.

So @ajonno you can achieve this behavior by setting `wizardMode` to true.
Example:

[code]

[2019-03-17 16:23] #622 closed

[2019-03-18 10:00] paolorotolo commented on #621
Fix merged in master

[2019-03-18 13:06] julenuem commented on #325
App Name: Cleanse
Link: https://play.google.com/store/apps/details?id=com.cleanseproject.cleanse

Thank you!

[2019-03-18 15:09] Anutha02 commented on #349
@cortinico Fixed by #661

[2019-03-18 15:21] Anutha02 commented on #579
Partially fixed by #660

[2019-03-23 00:16] gaadeveloper commented on #477
Hello @Anutha02 I'm using AppIntro:5.1.0 and can't override the dimen values. This is what I've done in my dimens.xml to try to change it:

<dimen name="appintro_desctext_size" tools:override="true">10sp</dimen>
    <dimen name="appintro_desc_padding" tools:override="true">10dp</dimen>
    <dimen name="appintro_head_padding" tools:override="true">10dp</dimen>
    <dimen name="appintro_headtext_siz

[2019-03-23 01:46] Anutha02 commented on #477
@gaadeveloper try using 6.0.0 alpha01

[2019-03-23 11:11] gaadeveloper commented on #477
Using any of these crashes the app:

`implementation 'com.github.AppIntro:AppIntro:6.0.0-alpha01'`
`implementation 'com.github.AppIntro:AppIntro:6.0.0 alpha01'`

[2019-03-23 11:12] Anutha02 commented on #477
@gaadeveloper Can you please post the stack trace, so that we can fix the issue before the satbel release.

[2019-03-23 11:13] gaadeveloper commented on #477
@Anutha02 This is what I get in Build:
[code]

[2019-03-23 11:14] Anutha02 commented on #477
It's alpha1 not alpha01

[2019-03-23 11:26] gaadeveloper commented on #477
Ok that solved the issue with the integration of the library but I keep getting a crash. First I had to change the order of the newInstance parameters because it gave me a crash. Now that that is not a problem when I run it I get this:

`2019-03-23 12:21:36.824 26685-26685/com.example.silentlibrary E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.example.silentlibrary, PID: 26685
    andro

[2019-03-23 11:28] Anutha02 commented on #477
@gaadeveloper I will take a look at it ASAP and try to help you soon.

[2019-03-23 11:31] Anutha02 commented on #477
@gaadeveloper in the meantime I would advise you to try using the Slider page model. Take a look here:
https://github.com/AppIntro/AppIntro/blob/master/example/src/main/java/com/amqtech/opensource/appintroexample/ui/mainTabs/intro/DefaultIntro2.java

[2019-03-23 11:53] gaadeveloper commented on #477
Thank you @Anutha02

I replaced this part of my code:

`addSlide(AppIntroFragment.newInstance(getString(R.string.how_to_play_one), getString(R.string.how_to_play_one_description), karlafont, karlafont, R.drawable.group_challenge, Color.parseColor("#247BA0"), getResources().getColor(android.R.color.white), getResources().getColor(android.R.color.white)));
        addSlide(AppIntroFragment.newInstan

[2019-03-23 11:56] Anutha02 commented on #477
@gaadeveloper You have to use setBgColor if you pass a colour to the method

[2019-03-23 11:57] Anutha02 commented on #477
@gaadeveloper BTW What API level are you using?

[2019-03-23 12:06] gaadeveloper commented on #477
Thank you @Anutha02 , it didn't crash now and it changed the size of the title and description.

I use compileSdkVersion 28, minSdkVersion 15.

One last question: I migrated to AndroidX because I assume that the change in size of the title and description in this library is only possible with the AndroidX implementation of it. Is this true or can we change the size of them with the support compati

[2019-03-23 12:07] Anutha02 commented on #477
@gaadeveloper, I am new here , so I don't know😅. Let me just check it.

[2019-03-23 12:11] Anutha02 commented on #477
@gaadeveloper, Sorry, it appears that the font sizes were hard-coded in earlier versions.

[2019-03-23 12:14] gaadeveloper commented on #477
@Anutha02 Thank you!!!

[2019-03-23 12:14] Anutha02 commented on #477
You can try the approach used in the question, but it obviously didn't work for v4.2.0, you might wanna give it a try on v4.2.3

[2019-03-23 12:33] gaadeveloper commented on #477
@Anutha02 I'll stick with AndroidX if I can. What I have observed is that the only thing that is not configurable is the size of the 'Skip' text at the bottom bar. It would be nice to adjust its size too but if not I can live without it.

[2019-03-23 12:34] Anutha02 commented on #477
@gaadeveloper Actually it is coming. Take a look at #660. You can override the appintroskipbuttonstyle after it gets merged

[2019-03-23 12:38] gaadeveloper commented on #477
@Anutha02 That will be nice. Is there a way I can receive notifications of AppIntro updates?

[2019-03-23 12:39] Anutha02 commented on #477
@gaadeveloper. Not any way that I know of. Just keep an eye on the releases section 😊

[2019-03-23 12:42] Anutha02 commented on #619
@cortinico Any updates on this?

[2019-03-23 13:19] #644 closed

[2019-03-23 17:15] Anutha02 commented on #482
@cortinico Can be closed for inactivity

[2019-03-23 17:53] #482 closed

[2019-03-24 15:16] Anutha02 commented on #517
@cortinico I have tested the app on API 16. It does not crash anymore. This issue should be closed.

[2019-03-24 15:21] Anutha02 commented on #656
@cortinico Alright so, here is my concept: when the app opens, we present 5 cardviews: AppIntro 1,2,3 , permissionslide, customize. The first 4 cardviews open their respective default activities. The fifth cardview opens a new activity with options to customize the intro. We can enhance the app by adding the GitHub source code link under each cardview. So I will create some mock ups and post here

[2019-03-24 15:27] Anutha02 commented on #579
@cortinico Please close this

[2019-03-24 15:29] Anutha02 commented on #547
@cortinico Our library correctly detects RTL. This issue is invalid. Please close

[2019-03-24 15:38] Anutha02 commented on #425
@cortinico Should be closed as unclear

[2019-03-24 15:40] Anutha02 commented on #408
@cortinico Should be closed for inactivity

[2019-03-24 15:41] Anutha02 commented on #369
Imma Do it

[2019-03-24 15:44] #579 closed

[2019-03-24 15:49] Anutha02 opened #664 "Change behaviour when closing AppIntro"
**AppIntro Version**: Upcoming

**Issue details / Repro steps / Use case background**: If a user presses the skip button or presses the back button (on navigation bar) AppIntro closes without any info. This can be a problem for apps that implement login screens in the Intro or request permissions. I propose that we implement something, so that users can use onActivity result to check if the user c

[2019-03-24 15:52] Anutha02 commented on #664
@cortinico @paolorotolo please respond

[2019-03-25 22:12] paolorotolo commented on #664
I think we can just let the activity close and do nothing. Developers can implement custom logic in overriding onSkipPressed or activity lifecycle methods.

[2019-03-26 00:21] #517 closed

[2019-03-26 23:54] cortinico commented on #664
Agree. At the end of the story `AppIntro` runs into an activity. Developers can implement all the custom logic they want.

[2019-03-26 23:56] cortinico commented on #656
Looks good to me :)

Probably not really worth the pain. Developers are not going to copy-n-paste code from the App. The will anyway use the code from the Github page/Readme.

[2019-03-27 06:58] #664 closed

[2019-04-02 20:45] umang4846 commented on #445
`setIndicatorColor(getResources().getColor(R.color.black),getResources().getColor(R.color.md_blue_grey_600));`

[2019-04-02 20:45] umang4846 commented on #445
`setIndicatorColor(getResources().getColor(R.color.black),getResources().getColor(R.color.md_blue_grey_600;`

[2019-04-13 12:19] newfinal100 opened #668 "Logo Proposal"
Hello! I find this project very interesting and I'd love to contribute to it by designing a logo. Let me know if you'd want that too and if you have anything specifically imagined for your logo, if not I'll just implement my own ideas :) looking forward to hearing from you!

[2019-04-14 03:46] AnuthaDev commented on #668
That would be great! I would love to see your ideas(maybe you could try using logos of other intro libraries for inspiration)

[2019-04-14 20:33] newfinal100 commented on #668
![first variations-01](https://user-images.githubusercontent.com/49202520/56098794-a4bf0200-5f04-11e9-900e-8cf87a542507.jpg)
![second variation-01](https://user-images.githubusercontent.com/49202520/56098798-ae486a00-5f04-11e9-9784-9e791a4dee89.jpg)
![third variation-01](https://user-images.githubusercontent.com/49202520/56098800-b7393b80-5f04-11e9-85dd-d88102d8ac0e.jpg)

Okay so here are three va

[2019-04-15 08:48] AnuthaDev commented on #668
Thanks for your hard work. I also like the second one, especially the idea of a face, but the purpose of the icon is to reflect the use case of the library/atleast match its name. (For example the logo of the leakcanary library is that of a canary).

[2019-04-15 10:26] newfinal100 commented on #668
![Fourth Variation-01](https://user-images.githubusercontent.com/49202520/56125237-ca85ee80-5f78-11e9-9461-8196821367e1.jpg)

I'm glad you liked the second one :) And you're right, I was focused too much on the face I didn't give any thought to the library part. What about this?

[2019-04-15 12:21] AnuthaDev commented on #668
The one on the top right seems good, but I think we should merge the centre card with the face. I will share a rough sketch showing what I mean soon...

[2019-04-16 12:14] newfinal100 commented on #668
Do you mean you'd like the face to be on the center or? If you could upload a rough sketch that would be great :)

[2019-04-18 06:53] ibrha commented on #668
i want add my own background how . ? i see just colorbackground

[2019-04-18 12:50] newfinal100 commented on #668
Could you please give me some more information on what do you mean by that?

[2019-04-18 15:13] AnuthaDev commented on #668
@newfinal100 Sorry for the delay, i didn't get much time in last few days. Just wait a minute

[2019-04-18 15:20] AnuthaDev commented on #668
Pardon my bad drawing and disproportionate elements, but I mean something like this:

https://drive.google.com/file/d/1U201LVaz2cp8DSM33goIsgx3ZBttb0Uj/view?usp=drivesdk

[2019-04-18 23:22] newfinal100 commented on #668
No problem that's okay :) I didn't understand the comment from ibrha about the color background so I wanted to know what's exactly meant by that :))

![5th variation-01](https://user-images.githubusercontent.com/49202520/56396885-5af65480-6241-11e9-97c6-bc55feebbc49.jpg)
So do you like some of these two versions more?

[2019-04-19 08:24] federicoiosue commented on #325
App Name: Omni Notes
Link: https://play.google.com/store/apps/details?id=it.feio.android.omninotes

Ottimo Paolo

[2019-04-20 15:35] AnuthaDev commented on #668
@newfinal100 don't worry, he was at the wrong place presumably.

I think we should get rid of the antennae. Also please make the corner radius of the top equal to that of the bottom of the centre card. As for the colors, use red for the left, golden yellow for the centre and green for the right. Also, I think the 2nd design is better, so work only on it pls😄

[2019-04-20 16:33] AnuthaDev commented on #668
@newfinal100 also, please take a look here

https://material.io/design/iconography/#

[2019-04-21 16:41] moelle89 commented on #474
U can use this for gotToNextSlide - it will behave just like if u click on the next button:

    private void next() {
        pager = findViewById(R.id.view_pager);
        pager.goToNextSlide();
    }

[2019-04-26 08:55] gaadeveloper opened #669 "I'm getting following error"
I'm getting the following error at the google console, which makes it harder to debug for me... I know it has to do with this library. The version of the library that I'm using is 'com.github.AppIntro:AppIntro:6.0.0-alpha1'. Any help is appreciated.

[code]

[2019-05-03 15:20] cortinico commented on #669
Closing as this is a duplicate of #551
You're probably using an image that is too big

[2019-05-03 15:20] #669 closed

[2019-05-03 15:24] cortinico commented on #474
Closing as this got solved.
Moreover you probably want to use another widget for your usecase like this one: https://github.com/yarolegovich/DiscreteScrollView ?

[2019-05-03 15:24] #474 closed

[2019-05-04 06:26] paolorotolo commented on #668
Hey @newfinal100, thanks for your contributions!
I'm not a designer, but I think the proposed logo fail to represent in a clear and immediate way what AppIntro truly is. We might want to suggest the idea of an horizontal scrolling page with some slides with images and less text.

[2019-05-05 16:56] AnuthaDev commented on #547
@cortinico Please close this

[2019-05-05 17:38] cortinico commented on #668
I was thinking about something like a waving droid (like for the "intro").

![ic_launcher](https://user-images.githubusercontent.com/3001957/57197921-a0916d80-6f21-11e9-95fc-30ca895e075e.png)

Another Idea I had was to have like a curtains (again for the "intro" metaphore):

![ic_launcher](https://user-images.githubusercontent.com/3001957/57197948-ed754400-6f21-11e9-8116-869905c9a6c9.png)

[2019-05-05 17:38] #547 closed

[2019-05-05 17:39] #543 closed

[2019-05-05 17:40] cortinico commented on #543
Closing as we removed the link from the README (we're going to republish it soon or later).

[2019-05-13 20:37] lucalves opened #672 "Orientation"
Good afternoon sirs,

I applied Intro to an application I'm developing, but I came across the following difficulty:

When I flip the application from horizontal to vertical or vice versa, the same goes back to the Introduction screen.

Does anyone have a solution for when turning the screen, does it remain on the current screen?

[2019-05-13 20:59] cortinico commented on #672
Hey @lucalves
Which version of the library are you using?

[2019-05-13 22:41] lucalves commented on #672
I'm using the version 4.2.3. @cortinico

[2019-05-13 22:58] cortinico commented on #672
Hey @lucalves
Just tested on the latest version `6.0.0-alpha1`. I wasn't able to reproduce the bug you reported.
Have you considered updating to the latest version to check if the bug is still there?

[2019-05-14 07:46] AnuthaDev opened #673 "Typo in AppintroBase"
There is a typo in AppintroBase where the *OnPageChangeListener* is inaccurately named *OnPageChangerListener* So, please fix

[2019-05-14 07:49] AnuthaDev commented on #536
@cortinico I think it is out of scope for this library. It can be achieved by using custom fragments, so I think this issue should be closed.

[2019-05-14 07:50] AnuthaDev commented on #619
@cortinico Any progress on this front?

[2019-05-14 09:52] #536 closed

[2019-05-14 11:49] #673 closed

[2019-05-14 12:51] lucalves commented on #672
To test this version I would need to migrate the application to android X first, shall I?

I'm going to take the test and report it here in the Issue.
@cortinico

[2019-05-14 13:17] cortinico commented on #672
first, shall I?

Ideally yes. Please note that all the bugfixes and the new features will
happen on the version of AppIntro that is AndroidX capable (5.+).

If your app is too big, you can still try to use Jetifier Reverse Mode (see
here https://ncorti.com/blog/jetifier-reverse).
Although I anyway recommend you consider migrating to AndroidX as soon as
possible.

[2019-05-16 04:22] AnuthaDev commented on #672
@lucalves So, did you try updating to androidx?

[2019-05-16 12:15] lucalves commented on #672
Yes, in the version that @cortinico reported, after migrating to Android X, worked perfectly. Thank you guys!

[2019-05-16 12:15] #672 closed

[2019-05-16 12:19] cortinico commented on #672
You're welcome :)

[2019-05-22 17:38] paolorotolo commented on #668
I really like the Android one!

[2019-05-23 08:42] AnuthaDev commented on #526
You have to create a custom fragment that implements ISlidePolicy. It is written in the Readme.

[2019-05-23 08:43] AnuthaDev commented on #514
You should create a custom fragment for this task.

[2019-05-23 09:03] AnuthaDev opened #679 "Alternate method to request permissions without blocking swipe"
**Issue details / Repro steps / Use case background**: I have an idea of a different method to request permissions without blocking swipe as the approach used in #678 has lots of room for improvement. I am working on it and would like to know what you think. :
Suppose the slide X contains permissions. As soon as the user swipes left from slide x-1, the swipe to next slide is disabled(swipe to prev

[2019-05-23 09:09] AnuthaDev commented on #468
Hey @cortinico What do you think should be done to solve this?

[2019-05-23 09:10] AnuthaDev commented on #668
I think a carousel icon would be better

[2019-05-23 10:30] cortinico commented on #668
Do you have a mock/prototype?

[2019-05-23 10:38] cortinico commented on #468
Hey @VladOstrovski

Don't know if the issue is still relevant to you.
Anyway in the latest version of the library (`6.x`) there is boolean property that you can set/unset on your activity to lock the behavior of the System Back button:

[code]

[2019-05-23 10:38] #468 closed

[2019-05-23 10:40] #526 closed

[2019-05-23 10:41] #514 closed

[2019-05-23 12:17] AnuthaDev commented on #347
@cortinico This issue has been fixed by #678

[2019-05-23 15:25] cortinico commented on #668
If you can get it would be cool, so we can have all the proposal on the
desk :)

[2019-05-23 15:26] AnuthaDev commented on #668
@cortinico Sure

[2019-05-23 15:47] cortinico commented on #679
I'm concerned in introducing the concept of optional/compulsory permissions.
The scope of the library is creating a simple/nice intro for your Android App.

Dealing with permissions is a "plus" that we provide to the library users to simplify their life.
I don't think we have to solve all the problems of any intro flow.
So far we haven't received many issues related to optional/compulsory permissi

[2019-05-23 15:59] AnuthaDev commented on #679
@cortinico Having it as a feature won't do any harm. I know that we don't have to solve all the intro problems, but if we provide a "plus" , we better provide a good one😁

[2019-05-23 16:02] cortinico commented on #679
I generally don't agree on this. We're trying to keep the feature set of the library as smaller as possible.
This will make the library generally easier to maintain, easier to understand and easier to use.

Anyway please send your implementation and we can discuss on the PR if it makes sense to be included or not 👍

[2019-05-23 16:02] #679 closed

[2019-05-24 01:44] KaiserFrederick commented on #325
App Name: Hitos
Link: https://play.google.com/store/apps/details?id=com.ministeriopalmoni.hitos

Thanks a lot for this work, it is great!!!

[2019-05-24 03:22] AnuthaDev opened #685 "Get an awesome kotlin badge"
**Issue details / Repro steps / Use case background**: Since this project is almost 100% kotlin now, it would be great if we add an awesome kotlin badge on top of our readme.

More info here: https://github.com/KotlinBy/awesome-kotlin

[2019-05-24 08:40] cortinico commented on #522
This is happening in #675

[2019-05-24 19:33] agueroveraalvaro commented on #531
Solved! : On the onSkipPressed method you can do :

`while (getPager().getCurrentItem()!=sliderCount)
            pager.goToNextSlide();`

[2019-05-24 19:38] cortinico commented on #531
Unfortunately we don't have a public method for that @uzuki-P
You can still progress the viewPager manually:

[code]

[2019-05-24 19:38] #531 closed

[2019-05-25 02:26] AnuthaDev commented on #408
@cortinico Please close this.

[2019-05-25 10:56] #408 closed

[2019-05-25 11:57] AnuthaDev commented on #668
@cortinico @paolorotolo What do you think of this? I still need to figure out the finer details like color, shadow, size etc. This is the first prototype 😅

![IMG_20190525_172346](https://user-images.githubusercontent.com/36439704/58368984-277aaa00-7f12-11e9-9219-4a11e678ee5b.jpg)

[2019-05-25 12:26] paolorotolo commented on #668
Nice indeed, I really like it! Would you be able to replace the generic face with an Android, similar to what @cortinico did?

[2019-05-25 12:28] AnuthaDev commented on #668
@paolorotolo It's a prototype, so I can do whatever you want me to. So, yeah, I will replace it with droid.

[2019-05-25 16:03] AnuthaDev opened #688 "[Discussion] Image Handling Improvements"
**Issue details / Repro steps / Use case background**: In this library, handling the memory used by images is not managed at all, which leads to OOMs on several devices(e.g. #551 )I would like to discuss, how we can improve the image handling on our library. I have a few ideas:
1. Scaling drawables(as Bitmaps) before setting them to their respective imageviews.***

2. For even better support you c

[2019-05-25 16:06] AnuthaDev commented on #688
@cortinico @paolorotolo What do you think should be the preferred approach?

[2019-05-25 16:10] AnuthaDev commented on #510
@cortinico I think this issue should be closed.

[2019-05-25 16:14] #510 closed

[2019-05-26 05:13] AnuthaDev commented on #668
@cortinico @paolorotolo  How about this?
![Screenshot_20190526-104006_Chrome](https://user-images.githubusercontent.com/36439704/58377645-f1393b00-7fa2-11e9-92dd-2fb716bbef0d.png)

[2019-05-26 13:46] cortinico commented on #668
Hey @AnuthaDev Can we use the Droid graphic I used in my icon? Maybe we can put the droid just on top of the white line in the center?

[2019-05-26 13:53] Diaj3 opened #690 "Can't even implement the AppIntro"
**The erros that I have don't allow me to even run the program**:

**I tried to use the code they give us in the AppIntro and even tried some variations from some youtube tutorials but all give me errors
**:

[code]

**Stack trace / LogCat**:
[code]

![1](https://user-images.githubusercontent.com/43539237/58382729-a977db00-7fc5-11e9-84c4-f2433f4d68bb.png)
![2](https://user-images.githubusercontent

[2019-05-26 13:54] cortinico commented on #690
Hey @Diaj3 which version of AppIntro are you using?
Is you application using AndroidX or the old support library?

[2019-05-26 13:55] Diaj3 commented on #690
old support library

[2019-05-26 13:56] cortinico commented on #690
which version of AppIntro are you using?

[2019-05-26 14:00] Diaj3 commented on #690
the previous one "implementation 'com.github.AppIntro:AppIntro:4.2.3'"

[2019-05-26 14:12] cortinico commented on #690
So your code has multiple problems that the IDE is already telling you:

# onDonePressed
![img](https://user-images.githubusercontent.com/43539237/58382731-a977db00-7fc5-11e9-86c8-02c7434b0b77.png)

You have the `onDonePressed` function defined twice in you code. You must remove one of the two functions.

# onSkipPressed
![img](https://user-images.githubusercontent.com/43539237/58382730-a977db00-7

[2019-05-26 14:12] #690 closed

[2019-05-26 14:32] Diaj3 commented on #690
Thank you so much, one more thing, from tutorials I've seen them use both this ways on the functions, which is better to use and what do they really do differently?

![image](https://user-images.githubusercontent.com/43539237/58383179-6f113c80-7fcb-11e9-9916-b22edcad5d6c.png)

[2019-05-26 14:42] cortinico commented on #690
So the first `onDonePressed` is ideally what you want to have. It will start the `MainActivity`, so your user will proceed to that screen of your app.

The second `onDonePressed` is showing just a message "App Intro Ended" to the user and that's it. So the user can't really exit from the flow.

[2019-05-26 14:48] AnuthaDev commented on #668
@cortinico Sure

[2019-05-26 18:42] Diaj3 commented on #690
Thanks for eveything, the AppIntro is now looking great thanks to you :D

[2019-05-31 12:30] AnuthaDev commented on #668
@cortinico @paolorotolo I guess this is good enough:

![final](https://user-images.githubusercontent.com/36439704/58705821-ea109380-83cd-11e9-82c3-8735aaf3794e.png)

[2019-05-31 13:39] cortinico commented on #668
Looks good to me :D I would move the Droid down and left attached to the line.
Moreover do you have a Sketch/SVG file to share so that we can play around as well?

[2019-05-31 13:47] paolorotolo commented on #668
Not bad at all, well done!

[2019-06-01 03:23] AnuthaDev commented on #668
@cortinico I have an illustrator file, so I can share it and also an svg if you want. Only a few finishing touches are left and then it will be ready.

[2019-06-01 07:26] AnuthaDev commented on #688
@cortinico What do you think?

[2019-06-01 15:39] MohammadSommakia commented on #275
it did not work for me

[2019-06-01 15:42] cortinico commented on #275
@MohammadSommakia Can I ask you to open another issue if you found a bug? This one is really old and the library changed drastically by then.

[2019-06-01 21:05] cortinico commented on #668
Looking forward :)

[2019-06-02 11:51] MohammadSommakia opened #695 "Cannot Access To View when app in RTL lang in the same order Bug (probably)"
Hello I am using App Intro version 4.2.3 and  in my app i am using 7 slides and 2 language so i need to access the second slide views .
in case english lang it's ok there is no problem but in case RTL language i cannot access to view in second slide it says : object null so i tried to access fifth index and it's working but i had to check app lang in onSlideChange override method

[2019-06-03 15:01] cortinico commented on #695
@MohammadSommakia Can I ask you to provide more details? Like some code? Also can you provide the stacktrace of the crash.

Moreover have you tried AppIntro `6.x`? We fixed a lot of issues related to RTL. Your bug might be fixed as well.

[2019-06-03 23:35] MohammadSommakia commented on #695
cannot resolve 6.x version ??

[2019-06-04 00:11] cortinico commented on #695
I meant 6.x to specify the "family" of releases.
The latest release in the 6.x family is `6.0.0-alpha2` (you can find it in the badge in the Readme file).

[2019-06-04 00:47] MohammadSommakia commented on #695
ok i got it but i cant use it because i am not using androidx in m app yet.

[2019-06-04 08:22] cortinico commented on #695
I really advice you migrate to AndroidX. The migration process kicked off more than one year ago so by now the process should be pretty stable.

Please note that AppIntro is developed only on the `6.x` branch and we're providing fixes only for the latest version of the library.

[2019-06-04 10:59] MohammadSommakia commented on #695
i tried to migrate my app but the problem many of libraries that i used does not support androidx so i turned it off

[2019-06-04 11:26] cortinico commented on #695
does not support androidx so i turned it off

Have you enabled Jetifier?
Just follow the steps described here:
https://developer.android.com/jetpack/androidx/migrate

On Tue, Jun 4, 2019 at 1:00 PM MohammadSommakia <notifications@github.com>
wrote:

--
Nicola Corti - Android @ Yelp
corti.nico@gmail.com
http://ncorti.com
"Look wide, and even when you think you are looking wide – look wider
still!"

[2019-06-04 11:55] MohammadSommakia commented on #695
yes but i mean like this lib https://github.com/arimorty/floatingsearchview it gives me cannot find cardview error and this lib also give me same error
 https://github.com/MiguelCatalan/MaterialSearchView

[2019-06-04 12:04] cortinico commented on #695
I can't really help you if you don't provide the full error messages.
Also you should consider opening issues on those repositories if their
library are breaking AndroidX.

On Tue, Jun 4, 2019 at 1:55 PM MohammadSommakia <notifications@github.com>
wrote:

--
Nicola Corti - Android @ Yelp
corti.nico@gmail.com
http://ncorti.com
"Look wide, and even when you think you are looking wide – look wider
st

[2019-06-04 13:09] AnuthaDev commented on #695
Hey @MohammadSommakia If you are only getting an error in search iew libraries, you might wanna try this
https://github.com/Mauker1/MaterialSearchView

[2019-06-04 14:56] AnuthaDev commented on #685
Hey @cortinico You made some progress?

[2019-06-04 14:57] cortinico commented on #685
Not really 😅 https://github.com/KotlinBy/awesome-kotlin/pull/459

[2019-06-04 14:59] AnuthaDev commented on #688
@cortinico Please respond

[2019-06-04 18:04] AnuthaDev commented on #668
Hey @cortinico @paolorotolo I guess this is final:

![newfinal100](https://user-images.githubusercontent.com/36439704/58902698-40106e80-8721-11e9-8219-6a2b1a78e00b.png)

[2019-06-04 18:10] AnuthaDev commented on #668
If you like it, tell me, I will give a high res version of the icon and will also give the background and foreground xmls for making an adaptive icon

[2019-06-04 18:17] AnuthaDev commented on #325
Hey @cortinico Could you please pin this issue, so that it is visible more prominently then being restricted to the second page of issues

[2019-06-04 23:14] cortinico commented on #325
Hey @AnuthaDev
I was actually thinking about deprecating the section in the README as it gets pretty long. Moreover I'll try to convince people to open PR to maybe a separate Markdown file or to a section in the Wiki.

[2019-06-04 23:16] cortinico commented on #668
Generally looks good :) But I'd rather do a couple of tweaks to the frame.
If you could provide the high-res version would be great.

[2019-06-05 00:26] cortinico commented on #688
Hey @AnuthaDev
I'll probably go for either 3 or 4.

Can you please justify why you would go for option 1 rather than the others?

My point of view is:
3 - I would generally like the idea of having some sort of abstraction layer that takes care of loading images. Then we can publish an `appintro-image-glide` or `app-image-picasso` to provide binding with the common libraries.

4 - That's the quick

[2019-06-05 02:25] AnuthaDev commented on #688
@cortinico Oh, I actually thought it was the easiest and quickest (for me😝) to implement. Anyways, I guess option 3 looks the most viable option. Let's hear @paolorotolo on this.

[2019-06-05 02:30] AnuthaDev commented on #668
@cortinico Could you please tell me what tweaks you want to the frame, or,  if you want it, I can give you the illustrator file to edit yourself.

[2019-06-05 10:57] cortinico commented on #668
Here the changes I would apply.

* Color -> Use one of the two whites you already have in the icon.
* Corners -> Be consistent with the outer frame
* Placing -> Align the frame with the big white line.

That's a sketch to give you an idea:

![Screenshot 2019-06-05 at 12 51 19](https://user-images.githubusercontent.com/3001957/58951386-476f6080-8791-11e9-9e37-4449a9172c1f.png)

[2019-06-05 10:58] AnuthaDev commented on #668
@cortinico Alright, will do the adjustments asap

[2019-06-07 22:32] MohammadSommakia commented on #325
App Name: Hitos
Link: https://play.google.com/store/apps/details?id=net.healthintouch.hit&hl=en

Thanks a lot for this work, it is great!!!

[2019-06-20 11:41] carstenhag commented on #347
Hey, @AnuthaDev, so how can I use this? I am using 6.0.0-alpha2, but I still can not swipe when a permission will be asked.

[2019-06-20 19:45] cortinico commented on #347
@carstenhag So this issue has been fixed, merged and is now on master.
I've also just published a tag for AppIntro `6.0.0-alpha3` that contains the patch #678

If you find a bug with that implementation, please open another issue. I'm closing this one 👍

[2019-06-20 19:45] #347 closed

[2019-06-22 13:43] #685 closed

[2019-06-25 04:05] shareefhiasat commented on #463
its back again for ERROR: Failed to resolve: com.github.paolorotolo:appintro:v5.1.0 :(

[2019-06-25 07:27] cortinico commented on #463
@shareefhiasat Do you have Jitpack in your repositories?

[code]

[2019-07-15 07:01] nageamol commented on #325
App Name : Backup and Restore - App, Contacts, Sms , Calllogs
https://play.google.com/store/apps/details?id=com.primol.appbackup
Thanks for this awesome lib.

[2019-07-21 05:51] kaushalyap opened #704 "[Feature Request]: Support Single Activity pattern"
As I tried it seems to be it only worked inside activity, new navigation architecture component promotes [single activity](https://www.youtube.com/watch?v=2k8x8V77CrU) concept. So please  support appintro to be used inside a fragment.

[2019-07-22 09:48] cortinico commented on #704
Duplicate of #510

Ideally you should have an Activity for AppIntro and another activity for the your navigation controlled flow.

[2019-07-22 11:00] #704 closed

[2019-07-22 12:15] kaushalyap commented on #704
@cortinico I closed it, but IMHO I do not think its a good solution to use another activity just to use AppIntro.  I think you are suggesting this because, it may be hard to do it in fragment level.

[2019-07-24 13:57] Supercaly opened #705 "AppIntro close immediately"
I'm trying to implement a first launch guide into my app, so in the main activity I've got the code responsible for the shared preference and if it's true it starts the `IntroActivity` (in which there is only a slide for testing), every time the IntroActivity is opened it shows for some seconds and then it close to the previous activity like if I've call `finish()`

**AppIntro Version**: I've trie

[2019-07-24 14:28] Supercaly commented on #705
I think that the problem is that I'm not adding an image, because when I set the slider like so:
[code]
all start warking as intended

[2019-07-24 14:28] #705 closed

[2019-08-03 19:29] AlanInsam opened #707 "Activity closes when next button is clicked"
**5.1.0**:

**fails on OnePlus 6**:

**When I click "next" in my first slide, the activity gets destroyed even if the done button  is on the next slide, I use slidePage as in the examples (not fragments...) the code is the same as in the wiki, do i have to change something on done pressed?**:

**@Override
    public void onDonePressed(Fragment currentFragment) {
            super.onDonePressed(cur

[2019-08-05 10:16] cortinico commented on #707
@AlanInsam
Can I ask you to paste the whole code of your AppIntro Activity?

[2019-08-05 16:10] #707 closed

[2019-08-05 16:11] AlanInsam commented on #707
@cortinico it turned out that setVibration destoryed the activity on next tapped.

[2019-08-07 11:47] cortinico commented on #668
@AnuthaDev Any updates here?

[2019-08-25 08:16] auliarahmed opened #708 "How to add VideoView in slider"
Hello
How can i add videoview into slider?

[2019-08-27 14:04] cortinico commented on #708
Hey @auliarahmed
You can easily create your own `Fragment` with any View inside (also a `VideoView`) and pass it over to AppIntro with the `addSlide(Fragment)` function:

[code]

[2019-08-27 14:04] #708 closed

[2019-08-30 10:31] TheProgrammingM opened #709 "remove slide"
Hey, i wanted to ask how to remove a slide, because in my AppIntro the user can login and after it i want to show some other screens like: "Please ckeck your crendentials" or "Your login was successfull". If the login wasn't successfull, the slide automatically goes back, but it is still there if you swipe from right to left. Here is a part of my code:

    @Override
    protected void onCreate(@N

[2019-09-03 15:29] cortinico commented on #709
Hi @TheProgrammingM
As for now, there is no easy way to dynamically remove a slide.

The workaround that I'd suggest is to use a slide with a custom fragment and handle all the custom logic there.

[2019-09-07 16:28] zionnite opened #710 "Button colors"
Hello pals!
how do i change the buttons color and as well as the dot indicator!

i don't really know how to do it.
thanks for your support

[2019-09-08 08:05] cortinico commented on #710
Hi @zionnite

You can use the `setNextArrowColor`, `setNextArrowColor` and `setColorSkipButton`

You can use the `setIndicatorColor(Int, Int)` method on your `AppIntro` subclass.
Please note that you need to have your indicator initialized before calling that method. For example the following code will work:

[code]

[2019-09-08 08:05] #710 closed

[2019-09-19 11:39] AnuthaDev commented on #668
Hey @cortinico , Sorry for being this late, i got too busy. Anyways, how about this:
![nf](https://user-images.githubusercontent.com/36439704/65241023-352aef80-db00-11e9-9034-f31479ec5b1d.png)

[2019-09-19 13:24] cortinico commented on #668
Looks good to me :) Can I ask you to submit a PR with the sources (like ideally `svg`, `ai` or whatever format you used).

[2019-09-19 13:44] AnuthaDev commented on #668
@cortinico I have a better option, I send you the file and you submit the PR😅

[2019-09-19 13:55] AnuthaDev commented on #668
I have the illustrator(ai) file. Should I email it to you?

[2019-09-19 16:21] cortinico commented on #668
Yes please :) You can find my mail on my GitHub profile.

On Thu, Sep 19, 2019, 15:55 Anurag Thakur <notifications@github.com> wrote:

[2019-09-20 06:24] paolorotolo commented on #668
Great work!

[2019-09-21 17:10] AnuthaDev commented on #668
Hey @cortinico I have emailed the file to you. So, take a look at it😄

[2019-09-23 07:13] farzadkamali20 opened #711 "set gradiant color for Slides"
hi.
how can set Gradient Color for Slides Background ?

[2019-09-23 07:37] farzadkamali20 commented on #711
`       sliderPage1.setBgDrawable(R.drawable.back_slide1); `
????

[2019-09-23 07:43] #711 closed

[2019-10-09 15:54] KevatAakash opened #713 "App Using AppIntro"
AppName: True Thoughts Status
Url : https://play.google.com/store/apps/details?id=com.teamaa.truethoughts

[2019-10-15 06:10] Excel1 commented on #410
Could this Issue be removed please? :)

[2019-10-21 19:51] nicolabeghin opened #716 "Could not resolve org.jetbrains.kotlin:kotlin-stdlib:1.2.71"
**AppIntro Version**: 5.1.0

**Device/Android Version**: Android emulator, API 28

**Issue details**:
When switching to AndroidX and updating lib version to 5.1.0, the following error is thrown while compiling

`Caused by: org.gradle.internal.resolve.ModuleVersionResolveException: Could not resolve org.jetbrains.kotlin:kotlin-stdlib:1.2.71.`

**Tried to solve**:
[code]

and

`ext.kotlin_version =

[2019-10-23 07:12] AnuthaDev commented on #668
@cortinico Have you received the logo?🤔

[2019-10-23 07:19] paolorotolo commented on #668
@AnuthaDev can you send me the files as well? Nicola is busy at the moment, so I can make the pr instead. Email to paolo@rotolo.dev

[2019-10-23 07:38] AnuthaDev commented on #668
@paolorotolo Done

[2019-10-23 21:21] paolorotolo commented on #668
Got it, thanks!

[2019-10-24 14:39] paolorotolo commented on #716
Latest version of AppIntro is almost 1 year old, therefore this should be already fixed in ```master```. Can you please if this is solved using latest alpha?
[code]

Anyway, I plan to release a new stable version this we.

[2019-10-24 14:43] paolorotolo commented on #668
@AnuthaDev as I don't have Adobe Illustrator, can you save the .ai file with "Create PDF Compatible File" option checked? You may also export in a more open vector format like .svg.

[2019-10-24 18:28] nicolabeghin commented on #716
Just tried, unfortunately didn't solve the issue.

[2019-10-24 21:03] paolorotolo commented on #716
Can you provide an example project where this happens so I can give it a try?

[2019-10-24 21:04] cortinico commented on #716
Hi @nicolabeghin
Can you please share the whole `build.gradle` file. I have the feeling you're missing some repositories configuration.

[2019-10-24 22:03] nicolabeghin commented on #716
top-level `build.gradle`

    // Top-level build file where you can add configuration options common to all sub-projects/modules.
    buildscript {
        repositories {
            jcenter()
            google()
            maven {
                url 'https://maven.fabric.io/public'
            }
            maven { url 'https://jitpack.io' }
            flatDir {
                dirs '../aars'

[2019-10-24 22:08] cortinico commented on #716
Can I ask you to provide a full stacktrace? Looks like your Gradle Sync is also failing right? If this is the case, would you be able to run:
`./gradlew tasks --info --stacktrace` and post the result?

[2019-10-24 22:41] cortinico commented on #410
@Excel1 this issue is really old, can I ask you to open a new one if you have a newer bug to report?

[2019-10-24 22:45] cortinico commented on #713
Please comment on #325 and don't open new issues

[2019-10-24 22:45] #713 closed

[2019-10-24 23:30] cortinico commented on #668
Hey @AnuthaDev
Sorry but as @paolorotolo said, I was really busy with other projects and I ended up missing some mails. I also don't have Illustrator and apparently I'm facing the same issue @paolorotolo is having. You should save the .ai file with "Create PDF Compatible File". Please mail us the updated file if possible.

[2019-10-25 20:24] nicolabeghin commented on #716
thanks @cortinico for your attention.

1. no error with the aforementioned command
2. got error with `./gradlew build` that pointed me to a conflict with `okhttp:4.2.2` (!!!) - any specific reason for this?

[code]

Anyway, just for the sake of testing, I removed dependency (`androidTestImplementation` dependency, which is even stranger)
`androidTestImplementation 'com.squareup.okhttp3:okhttp:4.2.

[2019-10-25 20:30] nicolabeghin opened #717 "goToNextSlide(), goToPreviousSlide() and showSkipButton(boolean) not publicly accessible anymore in 6.x.x"
Hi everyone
I'm updating to latest 6.x.x beta version (as suggested in #716). Seems like some sort of regression was introduced, since the aforementioned methods `goToNextSlide()` and `goToPreviousSlide()` and `showSkipButton(boolean)` (as shown in #475, #498 and #531) are not publicly accessible anymore. Would it be possible to make them publicly available again?

ref. https://github.com/AppIntro

[2019-10-26 09:40] paolorotolo commented on #717
I can't remember any reason why those methods should not be public.
@cortinico this actually happened during our kotlin rewrite, if you're ok there are also more methods I would expose in the API in that class.

[2019-10-26 18:11] paolorotolo commented on #716
So I tried to set up an example project with okHttp and AppIntro and all runs smoothly. Are you able to provide us a minimal project where this happens?

[2019-10-27 11:46] nicolabeghin commented on #716
@paolorotolo I think it happens in connection to other Google libraries, here's the whole dependencies block. If still not able to reproduce, I'll provide a sample project but as of right now I was able to use the stable version so no need to worry :D

    dependencies {
        implementation project(path: ':aFileChooser', configuration: 'default')
        implementation 'androidx.appcompat:appco

[2019-10-27 15:36] gcantoni commented on #325
App Name: My Wall - Wallpaper Saver & Blur
Link: https://play.google.com/store/apps/details?id=it.folgore95.mywall

Thank you!

[2019-10-28 12:25] cortinico commented on #716
Hi @nicolabeghin, Yeah that would be beneficial as I'm still unable to isolate or reproduce your issue.

[2019-10-29 10:14] ofirkapzan opened #718 "Change image and text sizes"
Can i change image sizdes ?
if not, can i change the text design? (added bold or change the text style?)

thanks --> ofir.kapzan@gmail,com

[2019-10-29 18:49] paolorotolo commented on #717
@cortinico since you rewrote those classes in Kotlin, can you give me green light to refactor this please? Could be the only blocking issue for next stable release.

[2019-11-04 01:37] cortinico commented on #717
Hey @paolorotolo Sorry for the late reply.

Thanks for the heads up @nicolabeghin. Please note that 6.x is going to be a major release with a lot of breaking changes. Ideally we're going to publish a short guide with an overview of the API change to provide support to the user.

So here a quick recap on the status of those methods:

- `showSkipButton` -> Method has been removed. You can now use th

[2019-11-04 01:39] cortinico commented on #718
@ofirkapzan You can use a Custom Layout slide and customize the UI as you wish providing your own layout files.
An example is shown here:
https://github.com/AppIntro/AppIntro/blob/master/example/src/main/java/com/amqtech/opensource/appintroexample/ui/mainTabs/intro/CustomLayoutIntro.java

[2019-11-04 01:39] #718 closed

[2019-11-11 15:28] nicolabeghin commented on #717
thanks @cortinico ! IMHO `goToNextSlide` / `goToPreviusSlide`  should remain `public` in order to enable programmatic slide change. If you have another suggestion (other than extending the class, which I would consider a regression in some way), kindly let me know.

[2019-11-20 18:07] cortinico commented on #717
They're currently protected so you can still achieve programmatic slide change, but only inside the `AppIntro` subclasses. If you need to expose those methods further (e.g. you have other components interacting with your AppIntro), you need to intentionally extend the visibility.

[2019-11-28 18:28] Wiktorl4z opened #719 "Fatal Exception: Resources$NotFoundException"
My class

    override fun onCreate(savedInstanceState: Bundle?) {
        super.onCreate(savedInstanceState)

        val sliderPage1 = SliderPage()
        sliderPage1.titleTypefaceFontRes = R.font.mystery_quest
        sliderPage1.description = resources.getString(R.string.description1)
        sliderPage1.descTypefaceFontRes = R.font.mystery_quest
        sliderPage1.imageDrawable = R.drawable

[2019-12-01 10:54] JagadishaIncture commented on #325
App Name :  LoverBoy TARUN
link: https://play.google.com/store/apps/details?id=com.tarun.jagadish.loverboytarun&hl=fa

Thankyou

[2019-12-02 06:33] pratikbutani commented on #325
App Name: Best Quotes & Status 2019 (99000+ Collection)
Link: https://play.google.com/store/apps/details?id=com.swastik.quotesandstatus&hl=en_IN

Thanks for this awesome library.

[2019-12-04 23:40] cortinico commented on #719
Hi @Wiktorl4z
Looks like the crash is caused by your app missing one of the resource.
Are you sure you have all of those resources inside your `res` folders:

[code]

Please verify.
If this is the case, please share a project where we can reproduce the crash.

[2019-12-05 19:32] Wiktorl4z commented on #719
Hi @cortinico
All resources are in res folder.
But one image had only one size for all devices (xhdpi density). I have changed it.
Other images are in 100% fine. Do you think it might be the case?

I think you missed two lines above stack trace. They say something with font is not correct.
I have edited these two lines which were above and added them to stack trace.
It might be more readable now.

[2019-12-20 14:07] JesperLR opened #721 "RTL bug - slide indicators do not adapt to RTL"
Hi

Recently had to support and debug RTL for an app that uses AppIntro (which is a nice lib btw!) and ran into the issue that the indicator (the dots below the slide pager) still shows in LTR mode - i.e. the fragments slides one way but the indicator dot slides the other way and starts in the wrong end of the line of dots.

This is replicated in every version I could try, including the (newest?)

[2019-12-22 20:42] carstenhag opened #722 "Release 6.0.0 stable"
Currently using 6.0.0-alpha3 since months, I'm wondering what's missing for the stable version of 6.0.0. Any clue?

[2019-12-26 20:57] cortinico commented on #721
Hi @JesperLR,
Thanks for reporting this issue.

I was unfortunately not able to reproduce the issue on master. I've tried either both _Force RTL_ from the developer options and a RTL local (Hebrew).

Apparently the dots indicator are correctly flipped:
![rtl-indicator](https://user-images.githubusercontent.com/3001957/71490329-a4645e00-282a-11ea-8aa8-838219cfa2f6.gif)

Please provide a project tha

[2020-01-05 05:54] AnuthaDev commented on #722
PR #686 is a blocker, as well as a few more code fixes and a parallax feature are needed for the stable release.

[2020-01-05 15:39] cortinico opened #725 "Preparing AppIntro 6.0.0 Stable"
Let's use this issue to keep track of the things we need to do before releasing AppIntro 6.0.0

If you have the feeling you have a feature or a fix that is worth being included in the upcoming release, please comment here asap.

To give an ETA: ideally we should be able to release 6.x within the next 2/3 weeks.

- [x] Merge #686 / #730
- [x] Prepare a Release note document
- [x] Prepare a migratio

[2020-01-05 15:46] cortinico commented on #725
@AnuthaDev can you please explain the _minor code fixed_ and the parallax feature here?

[2020-01-05 15:46] cortinico commented on #722
Hey @carstenhag
Thanks for raising this point. I can say that I have to take responsibility for the delay and apologize for it. I took two months off and I've generally been quite busy (@paolorotolo probably as well).

The release of 6.0.0 stable is definitely on the roadmap and will happen within the end of January.

I also have to apologize given that we haven't done a great job in sharing roadm

[2020-01-05 15:46] #722 closed

[2020-01-05 17:49] AnuthaDev commented on #725
Hey @cortinico I meant these PRs : #660 , #662 , #663 that I closed in favour of another PR #665 which did not get merged. I believe those PRs should be merged before a new release. I will work on it when i get time(After 7th Jan)

[2020-01-05 17:58] cortinico commented on #725
Hey @AnuthaDev

Ok so please make sure to submit the PRs that you think should make it to 6.x.

Please avoid sending a huge unique PR (e.g. #665) as this will slowdown the whole release process.

Moreover, I don't think the whole `AppIntro3` change should make it to 6.0 but rather to 6.1. We already have a lot of API changes and I'd try to close this release as soon as possible without adding much

[2020-01-05 18:02] AnuthaDev commented on #725
No problem, I will submit two PRs, one for #660 , another for #663 as soon as I can.

[2020-01-05 18:16] cortinico commented on #725
Awesome, looking forward to it.

On Sun, Jan 5, 2020 at 7:02 PM Anurag Thakur <notifications@github.com>
wrote:

--
Nicola Corti - Android Infrastructure Engineer
corti.nico@gmail.com
http://ncorti.com
"Look wide, and even when you think you are looking wide – look wider
still!"

[2020-01-06 13:08] JesperLR commented on #721
Apparently it seemed to be when using custom fragments with custom layout that the indicator would move the wrong way, still not quite sure exactly where the issue was, but moving to the default AppIntro classes works - thanks!

[2020-01-06 13:08] #721 closed

[2020-01-06 13:37] cortinico commented on #721
Awesome, thanks for the update

On Mon, Jan 6, 2020 at 2:08 PM Jesper Lysgaard Rasmussen <
notifications@github.com> wrote:

--
Nicola Corti - Android Infrastructure Engineer
corti.nico@gmail.com
http://ncorti.com
"Look wide, and even when you think you are looking wide – look wider
still!"

[2020-01-18 21:47] carstenhag opened #727 "Customization of done button background - Shows up in grey"
**AppIntro Version**: 6.0.0-alpha3

**Device/Android Version**: One Plus 5, Android 9

**Issue details / Repro steps / Use case background**: Done button shows up with grey background, not sure how to customize it. Pretty sure I can only change the text color?

`showDoneButton` is deprecated, but the documentes replacement does not exist.

**Your Code**: https://gitlab.com/carstenhag/android-mosba

[2020-01-21 00:28] cortinico commented on #727
Hi @carstenhag Thanks for reporting.

Thanks for noticing this. Looks like the KDoc was outdated. `showDoneButton` is actually deprecated in favour of `setButtonsEnabled`/`isButtonsEnabled`.

Although your problem is apparently dealing with button background. Currently AppIntro doesn't offer a simple API for customising the button background.

By default buttons, use the `?attr/selectableItemBackg

[2020-01-21 00:28] #727 closed

[2020-01-23 07:46] AnuthaDev commented on #668
Hey @cortinico I have mailed you the files. Please take a look.

[2020-01-23 07:49] AnuthaDev commented on #425
@cortinico Please close this issue.

[2020-01-23 09:14] AnuthaDev opened #737 "[BUG] Appintro Button layout is not retained on configuration change"
**AppIntro Version**: latest master branch

**Issue details / Repro steps / Use case background**: Fire up appintro sample app, swipe till you reach last page and the next button turns into done button, now rotate the screen and the done button changes back to next button and does nothing on tap, skip button reappears. Swipe a page back and then forward again, the done button appears again, fully

[2020-01-23 09:17] AnuthaDev commented on #725
@cortinico #733, #734, #735 should be merged before 6.0 and #737 should be fixed before it as well.

[2020-01-23 09:18] AnuthaDev commented on #737
This looks like it regressed recently...

[2020-01-23 09:27] #425 closed

[2020-01-23 12:55] cortinico commented on #668
Thanks, I'll check it and include it in the repo.

[2020-01-23 22:59] #737 closed

[2020-01-24 11:00] bartekpacia opened #740 "Add possibility to change navbar color per slide"
Hi, I'm creating an IntroSlider using this library and I want to do something which is not apparently possible.
I have the following intro:
![demo](https://user-images.githubusercontent.com/40357511/73064089-b7f1fb80-3ea0-11ea-8664-9cf081664dff.gif)

You can see that the color of the navigation bar doesn't changes, what creates kind of a visual disturbance.

**What solution I'd like*
Add possibili

[2020-01-24 13:41] AnuthaDev commented on #740
Hey @cortinico I am working on this. We should include the fix for this in 6.0.0.

[2020-01-24 13:42] AnuthaDev commented on #740
Hey @bartekpacia Instead of having the ability to set the navigation bar color per slide, its better to just make the navigation bar translucent. This issue shall be fixed in 6.0.0 version of the library that'll release within 1-2 days

[2020-01-24 13:45] bartekpacia commented on #740
Okay, thats's great! I'll wait for a new version.
Thanks for fast response:)

[2020-01-24 13:55] cortinico commented on #740
I don't consider this a bug but rather a new feature. Moreover I'd love to push this to 6.1.0 as I don't think we will make it for 6.0.0

[2020-01-24 19:16] AnuthaDev opened #741 "[CRITICAL][BUG] AppIntro Crashing"
**AppIntro Version**: Commit cf479c1c

**Issue details / Repro steps / Use case background**:  AppIntro Crashes on orientation change , if the first slide is selected.

**Stack trace / LogCat**:
[code]

[2020-01-25 00:08] #741 closed

[2020-01-25 15:17] paolorotolo opened #745 "Change AppIntro library package name"
Since next version of AppIntro will introduce other breaking changes, we can take advantage of this changing the old library package name.

@cortinico does `com.github.appintro` works for you? Together with `com.github.appintro.example` for our example app.

[2020-01-25 16:09] mladenbabic opened #746 "Add Lottie support for images"
It would be great if you could include the Lottie animation support for images out of the box.
Thanks

[2020-01-25 17:05] cortinico commented on #746
Thanks for the feature request @mladenbabic

You can use a custom layout Fragment in AppIntro, and provide your layout with your `LottieAnimationView`.

I think that wrapping lottie inside AppIntro is not going to be a good idea, given the impact on the user base. If we really want to have this we can think about having an external `appintro-lottie` module (in a similar way as I was doing in #675)

[2020-01-25 17:14] mladenbabic commented on #746
Thanks for the quick response. Yes, I'm aware of the custom layout and I have done as you suggested.
I thought that it could be nice if you can instead of drawable pass Lottie res in the constructor without any additional works. Thanks anyway.

[2020-01-26 04:24] AnuthaDev commented on #745
It works for me that's for sure😁

[2020-01-26 11:47] cortinico commented on #745
Works for me. I was checking if we could have problem with Sonatype given that we don't own the "com.github" part. Apparently this is not a problem as a lot of other developers are doing the same: https://issues.sonatype.org/browse/OSSRH-49838?jql=text%20~%20%22com.github%22

Then let's go for that. @paolorotolo do you want to do this change?

[2020-01-26 11:47] paolorotolo commented on #746
+1 for a `appintro-lottie` module. Not a big fan of having Lottie dependencies inside AppIntro main package.
@mladenbabic If you want to work on it feel free to propose a PR :+1:

[2020-01-26 11:48] paolorotolo commented on #746
We could also exploit Kotlin extension functions for this and add additional functionalities to the base module.

[2020-01-26 11:49] paolorotolo commented on #745
Sure thing.

[2020-01-26 21:15] mladenbabic commented on #746
Ok, cool. Currently, I'm on one huge project, so when I get more time I can start with the Lottie module.

[2020-01-28 16:46] lakecountypassage commented on #718
This class removed?

[2020-01-28 17:20] Wiktorl4z commented on #719
Hi @cortinico I think you can close the ticket. I am not having this problem in crashlytics from that time.
So I guess everything is fine! 👍

[2020-01-28 17:24] #719 closed

[2020-01-28 23:45] #745 closed

[2020-01-31 03:34] ValentinHO opened #750 "Touch to change slide not working"
I'm trying to change the slide, sliding with my fingers but it doesn't work, it only works with the next button.

[2020-01-31 11:02] cortinico commented on #750
Please specify the version of AppIntro that you're using.

[2020-02-01 00:59] ValentinHO commented on #750
Version: com.github.AppIntro:AppIntro:5.1.0

[2020-02-03 23:20] cortinico commented on #750
* Can you post the code of your AppIntro activity?
* Are you requesting any permission?

[2020-02-16 00:18] Nimzr opened #751 "Getting "error: package com.github.appintro does not exist""
**AppIntro Version**: 5.0.1

**Device/Android Version**:Pixel 3 xl/ Android 10 (not related to device)

**Issue details / Repro steps / Use case background**:  Getting an error "error: package com.github.appintro does not exist" I'm very junior so this could be something obvious I'm missing.
I have this in my build.grade:
`    implementation  'com.github.AppIntro:AppIntro:5.1.0'`

**Your Code**:

[2020-02-16 14:11] cortinico commented on #751
Hi @Nimzr
Thanks for reporting this

I'm sorry you got this failure.
We're currently in the process of rewriting the whole README as well as releasing AppIntro 6.0.0.

Looks like you copied over some code from the README that it's currently on `master`. That would work for the upcoming version (6.0.0) but not for the latest stable `5.1.0`.

My advice is to copy from the README of the version 5.1.0

[2020-02-16 14:11] #751 closed

[2020-02-18 13:07] elianbarci opened #752 "I have to add manually a class"
In order to use an exisiting layout for my onBoarding slider i have to add "manually" the class **AppIntroCustomLayoutSlider**

AppIntro dependency:     implementation 'com.github.AppIntro:AppIntro:4.2.3'

If i can help with something let me know

[2020-02-18 15:11] cortinico commented on #752
We're aware of the issue. This class will be released in AppIntro `6.0.0`, it will be available once the library is released. Historically that was a "sample file" that developers had to copy over (so it's the intended behavior). Now we moved inside the library.

Thanks for reporting :)

[2020-02-18 15:11] #752 closed

[2020-02-20 20:46] apusberry opened #753 "Beta"
**AppIntro Version**:

**Device/Android Version**:

**Issue details / Repro steps / Use case background**:

**Your Code**:

**Stack trace / LogCat**:
[code]

[2020-02-20 20:47] #753 closed

[2020-03-05 13:44] YoSSeF-M commented on #325
App Name : Tasked
Link : https://play.google.com/store/apps/details?id=com.yquery.to_doproject

[2020-03-13 00:13] Eichhof opened #754 "Typing test"
Hello

I use the Android library AppIntro for creating nice intros for my app. As part of the intro I would like to create a small keyboard typing test. That means at the upper part of the screen a text should be shown and at the lower part there should be a box where the user should type the text using the keyboard. In addition, the typed text should be checked for correctness (a small percentage

[2020-03-15 18:07] cortinico commented on #754
Hi @Eichhof

You can achieve this by using a custom layout

And you can achieve this letting your custom layout slide implement [ISlidePolicy](https://github.com/AppIntro/AppIntro/blob/master/appintro/src/main/java/com/github/appintro/ISlidePolicy.kt)

[2020-03-15 18:07] #754 closed

[2020-03-15 18:13] Eichhof commented on #754
Hi @cortinico

Thank you very much for your answer. May I ask you for a short example? That would make things clearer.

[2020-03-18 03:21] Supermiro19 opened #755 "The ability to set button text for each slide"
**AppIntro Version**:

**Device/Android Version**:

**Issue details / Repro steps / Use case background**:

**Your Code**:

**Stack trace / LogCat**:
[code]

[2020-03-18 03:51] Supermiro19 commented on #755
Or set button image for each slide would work and be easier to implement.

[2020-03-18 08:45] cortinico commented on #755
Can you please provide a use case for this?

[2020-03-18 08:50] cortinico commented on #754
You can use this commit as example: https://github.com/cortinico/AppIntro/commit/ff94ffa5beafb3dc0fafeff880b5ef69cf55dc4e

You will be able to slide forward only by inserting the password `1234`. Other text will show an error message.

[2020-03-18 08:56] nickstamp93 commented on #325
App Name : PA Keno - Pennsylvania Keno Lottery Results
Link : [https://play.google.com/store/apps/details?id=com.nickstamp.paKeno&hl=en](https://play.google.com/store/apps/details?id=com.nickstamp.paKeno&hl=en)

Thanks for this excellent library

[2020-03-19 01:57] Supermiro19 commented on #755
Privacy Policy and Terms and Conditions agreement/consent page.

[2020-03-19 02:18] Supermiro19 commented on #755
Also, the ability to hyperlink would be cool and easy. Just takes a single XML line to make it possible to hyperlink text

[2020-03-24 12:58] void0629 commented on #325
App Name: Got a plan?
Link: https://play.google.com/store/apps/details?id=com.racoondog.gotaplan

[2020-03-26 02:04] Eichhof opened #757 "Repeat slide in onSlideChanged"
Hello

I have implemented the onSlideChanged() method in the following way:

[code]

How can I stay on the fragment, that means not switching to newFragment but again show oldFragment?

[2020-03-27 00:53] Supermiro19 opened #758 "Adding the ability for Privacy Policy Slide"
Privacy Policy slide requires hyperlinks enabled and probably a modification to the next button making it say I agree.

[2020-03-28 01:09] cortinico commented on #757
You're able to achieve this behavior using the `ISlidePolicy` interface:
https://github.com/AppIntro/AppIntro/blob/master/appintro/src/main/java/com/github/appintro/ISlidePolicy.kt

if you return `false` on the `isPolicyRespected` property, the user won't be able to slide next. You don't need to override the `onSlideChanged`.

[2020-03-28 01:09] #757 closed

[2020-03-29 00:34] Supermiro19 opened #759 "ISlidePolicy not working for me"
The app is running without errors and everything is working except the policy respect part since the slide movement doesn't get disabled and regardless of anything the user is able to continue to the next page.

Here is my fragment code

[code]

Here is my XML code

I only added the part that makes it refer to the java class so I do not annoy you with big chunks of XML code

[code]

and to connect

[2020-03-29 15:16] cortinico commented on #759
Hi @Supermiro19,
Looks like you're instantiating the new slide in the wrong way.
You should use the class you created and not the `AppIntroCustomLayoutSlide`:

[code]

That should work. Please let me know if this solved your issue.

On a side note:
- I'd suggest you use a consistent naming for your classes. `privacy_policy` should probably be renamed to `PrivacyPolicyFragment` or something similar

[2020-03-31 04:04] Supermiro19 commented on #759
First of all thank you for your response using addslide(privacy_policy()); didn't work and produced an error. (Unkown method error)

Now after you told me its better to create a new instance I kept searching for a while and here is what finally made it work for me.

`addSlide(getSupportFragmentManager().getFragmentFactory().instantiate(getClassLoader(),your_class_name.class.getName()));`

[2020-04-01 23:46] cortinico commented on #759
Happy to hear that this worked for you. On the other hand you should be able to just use a `.newInstance()` static method. You don't need to ask the `FragmentFactory` to create a new instance.

[2020-04-01 23:46] #759 closed

[2020-04-02 04:56] Supermiro19 commented on #759
I am sorry but both addSlide(privacy_policy());

and

addSlide(privacy_policy.newInstance());

resulted in errors

[2020-04-04 00:44] cortinico commented on #759
Please check the code I pushed in this branch: https://github.com/AppIntro/AppIntro/commit/15ae1970eab6956ca86e3d272302422764699e2a
It contains a sample fragment that implements the `ISlidePolicy`. It works just fine with the `newInstance()` method. I'm closing #760 because of this.

[2020-04-12 03:12] xcesaralejandro opened #761 "Custom font problem"
**Package:** com.github.AppIntro:AppIntro:5.1.0
**Phone:** Google Pixel XL and Emulator Nexus 4

**Problem:**
`sliderPage.setDescTypefaceFontRes(R.font.prime);` Not work
`sliderPage.setTitleTypefaceFontRes(R.font.octopus);` Set custom font in title and description

[2020-04-14 23:49] cortinico commented on #761
Hi @xcesaralejandro Are you able to provide a screenshot?
Also can I ask you to try version `6.0.0-alpha3` and let me know if you still have problems?

[2020-04-15 00:34] xcesaralejandro commented on #761
Screenshot:
[https://drive.google.com/file/d/1bsdJIccZKYngtR58kg5YDhb6xbZ5xnM7/view?usp=sharing](With semi bold) - [https://drive.google.com/file/d/19DEBnrOhCPV2YNhgPAsL-NOVsAlKjKAy/view?usp=sharing](With regular weight) .

All fonts are downloaded from google fonts.

When i use `6.0.0-alpha3` that functions work fine!!

[2020-04-15 08:36] cortinico commented on #761
Great so I'm going to close this.
I had some troubles finishing the release of `6.0.0` but hopefully it will be out soon 👍

[2020-04-15 08:36] #761 closed

[2020-04-16 23:38] cortinico commented on #750
Closing due to inactivity. Feel free to bump if the issue is still happening.

[2020-04-16 23:38] #750 closed

[2020-04-16 23:40] #758 closed

[2020-04-26 14:21] bitmold commented on #325
App Name: Orbot
Link: https://play.google.com/store/apps/details?id=org.torproject.android

[2020-04-27 09:47] himanshu366 commented on #450
Try using the resource folder to access the file containing the respective data.

[2020-04-27 14:11] cortinico commented on #668
Closing as the Logo got approved and will be published with 6.0.0 🎉

[2020-04-27 14:11] #668 closed

[2020-04-27 14:12] cortinico commented on #349
Closing as too old + can be easily achieved with a custom Layout fragment.

[2020-04-27 14:12] #349 closed

[2020-04-27 14:12] cortinico commented on #545
Closing as this is going in 6.0.0

[2020-04-27 14:12] #545 closed

[2020-04-28 12:47] fanky10 opened #778 ".appintrox package name for androix support"
**AppIntro Version**: 6.0.0

**Issue details / Repro steps / Use case background**: Just a suggestion on dividing support vs androidx

[2020-04-28 13:14] cortinico commented on #778
Hi @fanky10
Thanks for your report.

I don't fully understand your request. We migrated to AndroidX long time ago and we don't have dependencies on the support library anymore.

I'm closing this. Feel free to comment if I haven't answered your question

[2020-04-28 13:14] #778 closed

[2020-04-29 11:43] zaheeraws opened #779 "is it possible to get current slide number or to add ability to get current slide number?"
is it possible to get current slide number or to add ability to get current slide number?

[2020-04-29 11:50] zaheeraws commented on #779
I think this is possible by following.
`getPager().getCurrentItem()`

This should be in documentation.

[2020-04-29 11:51] #779 closed

[2020-05-02 09:58] sakibraxa opened #780 "How can I change the text color, size, font ?"
Hi,
How can I change the following of a slide
text color
text size
font
and also i dont understand how can i change the dimention of the image used in the slide

Please guide me

right now i m using this code
`
addSlide(AppIntroFragment.newInstance("Welcome to F5", "F5is a Chief",
                R.drawable.ads_a, ContextCompat.getColor(getApplicationContext(),R.color.firstSlideColor)));`

[2020-05-02 11:23] cortinico commented on #780
Hi @sakibraxa
Which version of AppIntro are you using?

[2020-05-02 17:20] sakibraxa commented on #780
implementation 'com.github.AppIntro:AppIntro:5.1.0'

[2020-05-02 20:11] cortinico commented on #780
Here what you should do:

* text color/font

You can use this other overload of `AppIntroFragment.newInstance`:
https://github.com/AppIntro/AppIntro/blob/09d0dbe864b5b9bc431a71cc1d9421a555b29c53/appintro/src/main/java/com/github/paolorotolo/appintro/AppIntroFragment.java#L99-L133

That allows you to change Font be specifying another Font Resource.
Moreover you can change the `titleColor` and the `

[2020-05-02 20:11] #780 closed

[2020-05-04 04:35] laz666 opened #781 "AppIntroCustomLayoutSlide not working"
**AppIntro Version**:
com.github.AppIntro:AppIntro:5.1.0

**Device/Android Version**:

**Issue details / Repro steps / Use case background**:

**Your Code**:

**Stack trace / LogCat**:
[code]

Hi, I am trying to use AppIntroCustomLayoutSlide for a custom layout. I have created the below IntroActivity, but the class AppIntroCustomLayoutSlide is not recognized? It looks like this class has been rena

[2020-05-04 12:54] #725 closed

[2020-05-04 13:09] cortinico commented on #781
Hi @laz666
We just released AppIntro 6.0.0. Please consider migrating to it.

6.0.0 contains the class `AppIntroCustomLayoutFragment` you actually see on master.

Please let us know if you still have issues.

[2020-05-04 15:22] alexbakker opened #782 "AppIntro activity is always started in immersive mode, setImmersive(false) has no effect"
**AppIntro Version**: 6.0.0

**Device/Android Version**: Pixel 3a XL / Android 10

**Issue details / Repro steps / Use case background**: I'm in the process of migrating our app to AppIntro 6.0.0 and noticed that the intro starts in immersive mode by default. I tried to disable this behavior with ``setImmersive(false)``, but that appears to have no effect. Explicitly setting ``android:immersive="f

[2020-05-05 11:45] cortinico commented on #782
Hi @alexbakker

Thanks for reporting. The method `setImmersive(Boolean)` is not defined inside AppIntro but inside the `Activity` class.

AppIntro instead is by default just hiding the status bar:
https://github.com/AppIntro/AppIntro/blob/77ef9aa33c1dc217b875b48fa9129da1d5073b17/appintro/src/main/java/com/github/appintro/AppIntroBase.kt#L396-L397

You can override this behavior by calling: `showSt

[2020-05-05 11:45] #782 closed

[2020-05-05 11:45] cortinico commented on #781
I'm closing here as this is resolved on our end. Feel free to reopen if it's not

[2020-05-05 11:45] #781 closed

[2020-05-05 11:46] alexbakker commented on #782
Thanks for clarifying. That makes a lot more sense.

[2020-05-06 22:50] 7200rpm commented on #727
Is there updated guidance for version 6.0.0? I added in the style above it did not work, but gave a background on the next icon, which looks especially ugly. Just want to set the color of the skip button background.

[2020-05-06 22:59] 7200rpm commented on #727
Oh, just kidding, need to use `backgroundTint` like so
[code]

[2020-05-09 20:10] cortinico opened #784 "Is your app using AppIntro? Add it to the README 👍"
Is your Android App using AppIntro? We would love to have you listed on the Library Readme 🎉 in the [Apps Using AppIntro section](https://github.com/AppIntro/AppIntro#apps-using-appintro-)

Once you publish your App on the Play Store (or on another store), please do the following:

1. Open a Pull Request with the change to the README.
2. Ask for a review with your pull request.
3. (Optional to spe

[2020-05-09 20:12] cortinico commented on #325
Closing here given that now we have a sticky issue asking participants to directly open a PR for the README: #784

If your Application is not listed in the README, feel free to open a Pull Request. We will get it merged ASAP.

[2020-05-09 20:12] #325 closed

[2020-05-09 20:12] cortinico commented on #615
Solved by #784

[2020-05-09 20:12] #615 closed

[2020-05-11 20:10] cortinico commented on #385
Closing for inactivity + in the rewritten README there is a section about this.

[2020-05-11 20:10] #385 closed

[2020-05-11 20:10] cortinico commented on #369
Closing as the issue is stale

[2020-05-11 20:10] #369 closed

[2020-05-11 20:11] cortinico commented on #563
I'm adding the `good first issue` as this is a simple task where new contributors could start to work on.

[2020-05-11 20:15] cortinico commented on #717
Closing as we released 6.0.0 last week and the issue is solved.

[2020-05-11 20:15] #717 closed

[2020-05-11 20:16] cortinico commented on #716
@nicolabeghin Please let us know if you still have the problem. I'm closing the issue for inactivity.

[2020-05-11 20:16] #716 closed

[2020-05-11 20:17] cortinico commented on #709
Closing here. @TheProgrammingM feel free to reopen if the issue is not solved.

[2020-05-11 20:17] #709 closed

[2020-05-11 20:21] cortinico commented on #695
I'm closing for inactivity. Feel free to reopen if the issue is still happening @MohammadSommakia

[2020-05-11 20:21] #695 closed

[2020-05-11 20:23] cortinico commented on #656
Closing as duplicate of #563
I'm also linking the issue in the other issue so discussion doesn't get lost

[2020-05-11 20:23] #656 closed

[2020-05-11 20:25] cortinico commented on #458
This was solved by #647.
I'm closing it

[2020-05-11 20:25] #458 closed

[2020-05-11 20:26] cortinico commented on #623
Now the sample app has those examples. I'm closing here

[2020-05-11 20:26] #623 closed

[2020-05-11 20:31] cortinico commented on #453
I don't know if this is still relevant, but you should be able to create a custom Fragment similar to the `AppIntroCustomLayoutFragment` and access the view hierarchy over there:
https://github.com/AppIntro/AppIntro/blob/master/appintro/src/main/java/com/github/appintro/AppIntroCustomLayoutFragment.kt

[2020-05-11 20:31] #453 closed

[2020-05-11 20:33] cortinico commented on #534
We don't offer support to change language "programmatically".

[2020-05-11 20:33] #534 closed

[2020-05-12 12:27] jpsemery opened #787 "Using CustomLayoutFragment controls"
I am using a custom layout fragment for my first intro page and am havin trouble retrieving a textview control (to display a version number). The fragment displays correctly but when I try to get the fragment view to extratc the resource, null is returned
I'm doing this in java.

[code]

I tried subclasssing Fragment and using that but I get a cast error

[code]

is it possible to post a code snip

[2020-05-12 19:43] cortinico commented on #787
Hi @jpsemery
If you need to access the View of a custom fragment, you can't use `AppIntroCustomLayoutFragment` as you're doing as the view is not yet inflated when you're trying to access it.

The advice is to create your custom `Fragment` and retain View references in the `onViewCreated` method:

[code]

[2020-05-12 19:43] #787 closed

[2020-05-12 19:54] jpsemery commented on #787
Thanks Nicola, that makes sense now. Works perfectly. Nice addition too. I though the regular slided were a bit restrictive.

[2020-05-15 12:21] Cherrio-LLC opened #788 "Can i use version 6 on Java project"
Uhmm can I use the version 6 with java project? Cuz my project uses androidx

[2020-05-15 15:34] cortinico commented on #788
Hi @Cherrio-LLC
Sure you can use version `6.0.0` in your project with either Java or Kotlin

[2020-05-15 15:34] #788 closed

[2020-05-20 20:22] amitkle opened #789 "Disable changing slides"
Is there any option that for specific slide, changing slides will be disabled for a few seconds (I am showing an important video)?
Thanks!

[2020-05-20 20:33] cortinico commented on #789
Hi @amitkle

That's something you can achieve with the `SlidePolicy` interface:
https://github.com/AppIntro/AppIntro#slide-policy

[2020-05-20 20:33] #789 closed

[2020-05-20 21:18] boguszpawlowski opened #790 "Memory Leak in AppIntroFragment"
**AppIntro Version**: 6.0.0

**Device/Android Version**:
Reproduced on Xiaomi Mi 9T pro (Android 10), Google Pixel 2 (Android 10)

**Issue details / Repro steps / Use case background**:
After switching tabs back and forth, main layout of AppIntroFragment is leaking.

**Your Code**:
[code]

**Leak trace:  (Captured via LeakCanary)**:
[code]

[2020-05-20 21:35] cortinico commented on #790
Thanks for the report. Probably a duplicate of #419
We anyway need to spend some time to investage this. Any support is more than welcome.

[2020-05-20 21:45] boguszpawlowski commented on #790
Added pr regarding this. After clearing main layout in AppIntroBaseFragment the issue is gone. I checked it on the sample app with LeakCanary

[2020-05-20 22:34] #790 closed

[2020-05-20 22:35] cortinico commented on #790
Thanks again for the contribution to AppIntro 🙏

[2020-05-20 22:39] cortinico commented on #419
I'm closing this since I recently audited the sample app with LeakCanary and I found no leak so far. Feel free to open a new issue if the leak is still happening in AppIntro 6.0

[2020-05-20 22:39] #419 closed

[2020-05-25 12:17] sunil-singh-chaudhary opened #793 "how to use CustomLayout here ??"
i am using latest 6.0.0 verison but i am clearly not understand how to implement custom view i hv added one fragment here like this
Intro4 fragment4 = new Intro4();
addSlide (fragment4);

now after adding this fragemnt i want to add

setTransformer(AppIntroPageTransformerType.Zoom);

but its shows error why??

and one more thing i am not using kotlin here pls help some java code too here

[2020-05-25 12:42] cortinico commented on #793
If you're using Java you need to use:

[code]

to set a custom transformer.

[2020-05-25 12:42] #793 closed

[2020-05-27 13:55] idish opened #795 "Moving to next page programatically and private class members in AppIntroBase"
Hey guys,
I'm now migrating from AppIntro 5.X to 6.
The usage of AppIntro in my app was more advanced than the naive supported functionalities in the library.
One of my custom slides, could "decide" whether or not the user may move to the next slide. My specific use case was a PIN code slide and a confirm PIN code slide that comes afterwards, which in turn verified that it equals to the previously

[2020-05-27 14:02] cortinico commented on #795
True and I would still agree on having the AppIntroViewPager private for proper encapsulation.

Regarding your specific problem, you can use the `goToNextSlide()` method to achieve your requested behavior:

https://github.com/AppIntro/AppIntro/blob/969039e5aadafbc4fd0b1b33b86142a2dbfc2869/appintro/src/main/java/com/github/appintro/AppIntroBase.kt#L176-L177

[2020-05-27 14:02] #795 closed

[2020-05-27 14:08] idish commented on #795
Thanks! Didn't notice the `goToNextSlide()` method.

[2020-05-27 15:45] idish commented on #795
Hi @cortinico, Just noted that `goToPreviousSlide()` is a private function, which is needed for my use case, as if the confirm PIN is incorrect, I will programatically return the user to the previous slide.
Can this be fixed?

[2020-05-27 16:11] cortinico commented on #795
Yes this makes sense to be fixed. I'm doing it in #796

[2020-05-29 04:57] pallavc34 opened #797 "Is Library Available in Java?"
I would appreciate if any help is provided regarding the code so that it can be used in Java

[2020-05-29 10:35] cortinico commented on #797
Hi @pallavc34

The library is fully compatible with Java 👍

Examples are mostly in Kotlin, but we're happy to support for questions related to Java integration if you have any.

[2020-05-29 10:35] #797 closed

[2020-05-29 18:14] m-i-n-a-r opened #798 "Set a gradient background color on AppIntro 6.0"
Just a sort of feature request / support question: i'm trying to use a gradient as background of a slide. The readme clearly shows some slides with gradient backgrounds, but doesn't explain how to obtain the same effect.

I suppose there isn't a specific function to just pass 2 colors, so how should i do it? I could do it using a gradient drawable, but a quicker way would be cool!

side note: i'm

[2020-05-29 18:50] cortinico commented on #798
Hi @m-i-n-a-r
Thanks for asking.

As you said, the sample app is using gradient background:
https://github.com/AppIntro/AppIntro/blob/969039e5aadafbc4fd0b1b33b86142a2dbfc2869/example/src/main/java/com/github/appintro/example/ui/mainTabs/intro/DefaultIntro2.kt#L15-L19

Adding a gradient drawable is 5 Lines of Code. I consider this quicker and flexible enough to accomodate all the use cases 👍 :

htt

[2020-05-29 18:50] #798 closed

[2020-05-31 19:05] pallavc34 opened #799 "Can I add textViews or Buttons in the layout?"
I did check Custom Layout Intro and slide policy but I can figure out a way to get input from the user. Here I what I want to do, The user is opening the app for the first time and I want to know that the user's name, so I give an edit text and the user enters his name. Then I welcome the user and ask a set of questions that the user will answer by clicking on edit text, but I can't find any help

[2020-05-31 19:34] cortinico commented on #799
Hi @pallavc34
What you want to do is achievable using `SlidePolicy` and a custom layout slide.
You basically need to build your custom layout with `EditText` and then add a `SlidePolicy` to restrict scrolling when one or more input are invalid.

The documentation is on the README:

If you can sh

[2020-05-31 23:00] idish opened #800 "wrong default argument when RTL in goToNextSlide() method."
The default argument for isLastSlide on the `goToNextSlide()` method is wrong for RTL layouts.
A correct check for RTL layout's last slide would be checking if currentItem - 1 == 0 (double check me on this one please).

Method's signature: `protected fun goToNextSlide(isLastSlide: Boolean = pager.currentItem + 1 == slidesNumber)`

**AppIntro Version**: 6.0.0

[2020-06-01 16:16] oliexdev opened #801 "Integration AppIntro into Androidx navigation component"
**AppIntro Version**: 6.0.0

**Device/Android Version**: Pixel 2

**Issue details / Repro steps / Use case background**:

For the new [Androidx navigation framework](https://developer.android.com/guide/navigation/navigation-getting-started) the activity needs a navHost fragment. Is it possible to add that into AppIntro?

Or could the AppIntro class also inherited from a Fragment class?

The proble

[2020-06-01 23:55] cortinico commented on #800
Thanks for reporting @idish You're right that's a bug.
The fix is in #802

[2020-06-02 00:00] cortinico commented on #801
Thanks for raising this issue @oliexdev

Currently there is no direct support for the Navigation framework. We definitely need to look into this and provide better guidance on how to integrate an AppIntro Activity inside a navigation graph.

Not possible at the moment and also really unlikely in the foreseeable future.

Can ask you to be more clear here?

Ideally treat your whole AppIntro Activity

[2020-06-02 08:43] idish opened #803 "Back swipe not permitted when slide policy is not respected"
For a given slide with a slide policy that is not respected, swiping back won't work.
I would expect that only swiping forward won't be permitted.
Problem relies within the following method:
[code]
IMO that method should make use of the existing `isSwipeForward()` util method as used for permission slides as well.

**AppIntro Version**: 6.0.0

[2020-06-02 09:12] oliexdev commented on #801
Thank for your quick reply. :trophy:

I have a UserSetting fragment class which is used in my app. During the AppIntro slide I added a custom button which should open the UserSetting fragment. So I can add the user during the app intro slide, see [my app](https://f-droid.org/repository/browse/?fdid=com.health.openscale) for an example.

That will only work if I don't interact with my other fragmen